<template>
  <svg aria-hidden="true" :class="cls">
    <use :xlink:href="symbolId" />
  </svg>
</template>

<script>
import { defineComponent, computed, ref } from 'vue'
import attrsSvg from '@/components/ASME/DefaultSettings/svg'

export default defineComponent({
  name: 'SvgIcon',
  props: {
    prefix: {
      type: String,
      default: 'icon'
    },
    name: {
      type: String,
      required: true,
      default: ''
    }
  },
  setup(props, context) {
    const attrs = ref(context.attrs.class)
    let cls = attrsSvg.class
    if (attrs.value) {
      attrs.value += cls
    }
    const symbolId = computed(() => `#${props.prefix}-${props.name}`)
    return { symbolId, cls }
  }
})
</script>
