<template>
  <a-collapse v-model:active-key="activeKey" style="margin-bottom: 4px" bordered>
    <a-collapse-panel key="1" header="Bộ lọc">
      <a-form layout="inline" :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }">
        <a-row :gutter="['8', '8']" type="flex">
          <a-col :span="4">
            <a-form-item label="Email">
              <a-input />
            </a-form-item>
          </a-col>
          <a-col :span="4">
            <a-form-item label="Số điện thoại">
              <a-input />
            </a-form-item>
          </a-col>
          <a-col :span="4">
            <a-form-item label="Quốc tịch">
              <httcloud-select />
            </a-form-item>
          </a-col>
          <a-col :span="4">
            <a-form-item label="Xác thực">
              <httcloud-select />
            </a-form-item>
          </a-col>
          <a-col :span="4">
            <a-form-item
              label="Trạng thái Billing"
              :label-col="{ span: 10 }"
              :wrapper-col="{ span: 14 }"
            >
              <httcloud-select />
            </a-form-item>
          </a-col>
          <a-col :span="4">
            <div class="flex justify-end">
              <a-button type="primary">
                <FilterOutlined></FilterOutlined>
                Lọc</a-button
              >
            </div>
          </a-col>
        </a-row>
      </a-form>
    </a-collapse-panel>
  </a-collapse>
  <a-card
    title="Danh sách tài khoản"
    :head-style="{
      padding: 8,
      margin: 0
    }"
    :body-style="{
      padding: '4px'
    }"
  >
    <HttcloudTable
      :spinning="false"
      :title="true"
      :setting="true"
      :fullscreen="true"
      :data-source="lstDataSource"
      :columns-table="columns"
    ></HttcloudTable>
  </a-card>
</template>

<script>
import columns from '@/views/account/columns'
import { defineComponent, onMounted, ref } from 'vue'
import { FilterOutlined } from '@ant-design/icons-vue'
import { searchAccount } from '@/services/admin'
export default defineComponent({
  name: 'Account',
  components: {
    FilterOutlined
  },
  setup() {
    const activeKey = ref(['1'])
    const lstDataSource = ref([])
    const getData = async () => {
      try {
        const { data } = await searchAccount({})
        if (data) {
          console.log(data)
          lstDataSource.value = data
        }
      } catch (e) {
        console.log(e)
      }
    }
    onMounted(() => {
      getData()
    })
    return {
      activeKey,
      lstDataSource,
      columns
    }
  }
})
</script>

<style scoped></style>
