<template>
  <a-table
    v-if="!visibleFullScreen"
    bordered
    class="httcloud-table"
    :columns="columns"
    :scroll="{ x: 'max-content' }"
    :default-expand-all-rows="defaultExpandAllRows"
    :default-expanded-row-keys="defaultExpandedRowKeys"
    :row-selection="rowSelection"
    :loading="{
      size: 'large',
      indicator: indicator,
      spinning: $attrs.spinning
    }"
    v-bind="$attrs"
    @resize-column="handleResizeColumn"
  >
    <template v-for="(_, name) in $slots" #[name]="slotData">
      <slot :name="name" v-bind="slotData" />
    </template>

    <template v-if="title" #title>
      <div class="flex justify-end">
        <httcloud-input
          v-if="isQuickSearch"
          v-model:value.lazy.trim="quickSearch"
          class="w-1/4 mr-4"
          style="min-width: 200px; max-width: 200px"
          placeholder="Tìm kiếm nhanh..."
          :show-count="false"
          @input="onInput"
        />
        <div v-if="refresh" class="w-6 h-6 mx-2 hover:cursor-pointer" @click="onLoading">
          <a-tooltip>
            <template #title>{{ $t('aSME.table.refresh') }}</template>
            <httcloud-svg-icon
              name="synchronize"
              :class="[loadingSynchronize ? 'animate-spin' : '']"
            />
          </a-tooltip>
        </div>
        <div
          v-if="fullscreen"
          class="w-6 h-6 mx-2 hover:cursor-pointer"
          @click="onToggleFullScreen(true)"
        >
          <a-tooltip destroy-tooltip-on-hide>
            <template #title>{{ $t('aSME.table.fullscreen') }}</template>
            <httcloud-svg-icon name="fullScreen" />
          </a-tooltip>
        </div>
        <div v-if="excel" class="w-6 h-6 mx-2 hover:cursor-pointer" @click="onExportExcel">
          <a-tooltip destroy-tooltip-on-hide>
            <template #title>{{ $t('aSME.table.export_excel') }}</template>
            <httcloud-svg-icon name="document-download" />
          </a-tooltip>
        </div>
        <div v-if="setting" class="w-6 h-6 ml-2 hover:cursor-pointer" @click="onClickSetting">
          <a-tooltip placement="topLeft" destroy-tooltip-on-hide>
            <template #title>{{ $t('aSME.table.settings') }}</template>
            <httcloud-svg-icon name="setting" />
          </a-tooltip>
        </div>
      </div>
    </template>
  </a-table>
  <a-drawer
    title="Cấu hình table"
    size="large"
    :visible="visible"
    :mask-closable="false"
    :body-style="{ paddingBottom: '80px' }"
    @close="onCloseSetting"
  >
    <DropTable v-model:columns="columns" @update:columns="onUpdateColumn" />
  </a-drawer>
  <a-modal
    v-if="visibleFullScreen"
    v-model:visible="visibleFullScreen"
    width="100%"
    :z-index="200"
    class="bg-white"
    wrap-class-name="full-modal"
    :footer="false"
    :body-style="{
      background: '#FFFFFF'
    }"
  >
    <a-table
      class="httcloud-table"
      :columns="columns"
      :custom-render="customRender"
      :default-expand-all-rows="defaultExpandAllRows"
      :default-expanded-row-keys="defaultExpandedRowKeys"
      :row-selection="rowSelection"
      :loading="{
        size: 'large',
        indicator: indicator,
        spinning: $attrs.spinning
      }"
      v-bind="$attrs"
      @resize-column="handleResizeColumn"
    >
      <template v-for="(_, name) in $slots" #[name]="slotData">
        <slot :name="name" v-bind="slotData" />
      </template>
      <template v-if="title" #title>
        <div class="flex justify-end">
          <httcloud-input
            v-if="isQuickSearch"
            v-model:value="quickSearch"
            class="w-1/4 mr-4"
            placeholder="Tìm kiếm nhanh..."
            :show-count="false"
            @input="onInput"
          />
          <div v-if="refresh" class="w-6 h-6 mx-2 hover:cursor-pointer" @click="onLoading">
            <a-tooltip>
              <template #title>{{ $t('aSME.table.refresh') }}</template>
              <httcloud-svg-icon
                name="synchronize"
                :class="[loadingSynchronize ? 'animate-spin' : '']"
              />
            </a-tooltip>
          </div>
          <div
            v-if="fullscreen"
            class="w-6 h-6 mx-2 hover:cursor-pointer"
            @click="onToggleFullScreen(true)"
          >
            <a-tooltip>
              <template #title>{{ $t('aSME.table.fullscreen') }}</template>
              <httcloud-svg-icon name="fullScreen" />
            </a-tooltip>
          </div>
          <div v-if="excel" class="w-6 h-6 mx-2 hover:cursor-pointer" @click="onExportExcel">
            <a-tooltip>
              <template #title>{{ $t('aSME.table.export_excel') }}</template>
              <httcloud-svg-icon name="document-download"></httcloud-svg-icon>
            </a-tooltip>
          </div>
          <div v-if="setting" class="w-6 h-6 mx-2 hover:cursor-pointer" @click="onClickSetting">
            <a-tooltip placement="topLeft">
              <template #title>{{ $t('aSME.table.settings') }}</template>
              <httcloud-svg-icon name="setting"></httcloud-svg-icon>
            </a-tooltip>
          </div>
        </div>
      </template>
    </a-table>
  </a-modal>
</template>

<script lang="ts">
import { defineComponent, ref, reactive, computed, watch } from 'vue'
import DropTable from './DropTable.vue'
import { message, Modal } from 'ant-design-vue'
import _ from 'lodash'
import { Action } from '#/global'
import { h } from 'vue'
import Loading from '@/components/Loading/Loading.vue'

interface MultiAction {
  key: string
  title: string
}
export default defineComponent({
  components: {
    DropTable
  },
  props: {
    /**
     * columnsTable:  định nghĩa các cột trên table
     */
    columnsTable: {
      type: Array,
      default() {
        return []
      }
    },
    fullscreen: {
      type: Boolean,
      default() {
        return true
      }
    },
    setting: {
      type: Boolean,
      default() {
        return false
      }
    },
    excel: {
      type: Boolean,
      default() {
        return false
      }
    },
    refresh: {
      type: Boolean,
      default() {
        return true
      }
    },
    title: {
      type: Boolean,
      default() {
        return true
      }
    },
    multiAction: {
      type: Boolean,
      default() {
        return true
      }
    },
    selectWithoutActions: {
      type: Boolean,
      default() {
        return false
      }
    },
    actions: {
      type: Array as () => Action[],
      default() {
        return []
      }
    },
    quickSearchValue: {
      type: String,
      default() {
        return ''
      }
    },
    isQuickSearch: {
      type: Boolean,
      default() {
        return true
      }
    },
    timeout: {
      type: Number,
      default() {
        return 300
      }
    },
    defaultExpandAllRows: {
      type: Boolean,
      default() {
        return true
      }
    },
    defaultExpandedRowKeys: {
      type: Array,
      default(): Array {
        return []
      }
    },
    defaultSelected: {
      type: Array,
      default(): Array {
        return []
      }
    }
  },
  emits: ['removedFilter', 'getSelected', 'onReload', 'getQuickSearch', 'onMultiAction'],
  setup(props, context) {
    const slots = context.slots
    const quickSearch = ref<string>(props.quickSearchValue)
    const timeout = ref<number>(props.timeout)
    const visible = ref<boolean>(false)
    const visibleFullScreen = ref<boolean>(false)
    const loading = ref<boolean>(false)
    const loadingSynchronize = ref<boolean>(false)
    const visibleFilter = ref<boolean>(false)
    const visibleMultiAction = ref<boolean>(false)
    const enabledActions: [Action] = computed(() => {
      return props.actions.filter((act) => !act.hidden)
    })
    const selectedValues = computed(() => props.defaultSelected || [])
    const indicator = ref(
      h(Loading, {
        style: {
          fontSize: '60px'
        },
        delay: 300
      })
    )
    const state = reactive<{
      selectedRowKeys: Key[]
      selectedRows: Key[]
      loading: boolean
    }>({
      selectedRowKeys: selectedValues.value || [],
      selectedRows: [],
      loading: false
    })
    const rowSelection = computed(() => {
      if (enabledActions.value.length || props.selectWithoutActions) {
        return {
          fixed: true,
          selectedRowKeys: state.selectedRowKeys,
          onChange: onSelectChange
        }
      } else {
        return null
      }
    })
    const columns = ref(props.columnsTable.filter((v) => !v.hidden))
    const onCloseSetting = (): void => {
      visible.value = false
    } // close setting
    const onClickSetting = (): void => {
      visible.value = true
    } // open setting
    const onCloseFilter = (): void => {
      visibleFilter.value = false
    }
    const onClickFilter = (): void => {
      visibleFilter.value = true
    }
    const onCloseMultiAction = (): void => {
      visibleMultiAction.value = false
    }
    const onClickMultiAction = (): void => {
      visibleMultiAction.value = true
    }
    const onLoading = (): void => {
      quickSearch.value = ''
      loadingSynchronize.value = true
      context.emit('onReload')
      setTimeout(() => {
        loadingSynchronize.value = false
      }, 600)
    }
    const onToggleFullScreen = (open = false): void => {
      visibleFullScreen.value = open
    }
    const handleResizeColumn = (w, col) => {
      col.width = w
    }
    const onExportExcel = () => {
      message.info('Tính năng đang phát triển!')
    }
    const onMultiAction = (action: MultiAction) => {
      if (state.selectedRowKeys.length) {
        Modal.confirm({
          title: `Bạn có chắc chắn muốn thực hiện ${action.title} ${state.selectedRowKeys.length} bản ghi này?`,
          onOk() {
            context.emit('onMultiAction', { key: action.key, selectRows: state.selectedRows })
          }
        })
      } else {
        message.warning('Vui lòng chọn bản ghi!')
      }
    }
    const hasSelected = computed(() => state.selectedRowKeys.length > 0)
    const onSelectChange = (selectedRowKeys, selectedRows) => {
      state.selectedRowKeys = selectedRowKeys
      state.selectedRows = selectedRows
      context.emit('getSelected', selectedRowKeys, selectedRows)
    }
    const customRender = (text) => {
      return text
    }

    const onInput = _.debounce(() => {
      context.emit('getQuickSearch', quickSearch.value)
    }, timeout.value)
    watch(
      () => selectedValues.value,
      () => {
        state.selectedRowKeys = []
        state.selectedRowKeys = selectedValues.value
      }
    )
    watch(
      () => props.quickSearchValue,
      () => {
        quickSearch.value = props.quickSearchValue
      }
    )
    return {
      enabledActions,
      rowSelection,
      indicator,
      columns,
      visible,
      visibleFullScreen,
      visibleFilter,
      visibleMultiAction,
      hasSelected,
      loading,
      state,
      slots,
      quickSearch,
      loadingSynchronize,
      onCloseSetting,
      onClickSetting,
      onToggleFullScreen,
      handleResizeColumn,
      onSelectChange,
      onCloseFilter,
      onClickFilter,
      onCloseMultiAction,
      onClickMultiAction,
      onLoading,
      onExportExcel,
      onMultiAction,
      onInput,
      customRender
    }
  },
  methods: {
    onUpdateColumn(columns): void {
      this.columns = columns.filter((v) => !v.hidden)
    }
  }
})
</script>
<style lang="less">
.httcloud-table {
  .ant-table-title {
    padding-left: 0;
    padding-right: 0;
  }

  .ant-pagination {
    margin-top: 1rem;
  }
}
</style>
