<template>
  <a-form
    layout="inline"
    :row-props="{
      gutter: [4, 4]
    }"
    :label-col="{ span: 10 }"
    :wrapper-col="{ span: 14 }"
  >
    <a-row type="flex" :gutter="[16, 8]">
      <a-col :span="8">
        <a-form-item label="Loại khách hàng" v-bind="validateInfos.xPartnerTypeIds">
          <asme-select
            v-model:value="modelRef.xPartnerTypeIds"
            :filter-option="false"
            :request="getResPartnerTypes"
          />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="Tên" v-bind="validateInfos.name">
          <a-input v-model:value="modelRef.name" />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="Mã số thuế" v-bind="validateInfos.vat">
          <a-input v-model:value="modelRef.vat" />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="Số điện thoại" v-bind="validateInfos.phone">
          <a-input v-model:value="modelRef.phone" />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="Địa chỉ email" v-bind="validateInfos.email">
          <a-input v-model:value="modelRef.email" />
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="Tỉnh/TP" v-bind="validateInfos.xProvinceId">
          <asme-select
            v-model:value="modelRef.xProvinceId"
            :request="getResProvinces"
            :filter-option="false"
            @change="onChangeProvince"
          ></asme-select>
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="Quận/Huyện" v-bind="validateInfos.xDistrictId">
          <asme-select
            v-model:value="modelRef.xDistrictId"
            :options="lstDistrict"
            @change="onChangeDistrict"
          ></asme-select>
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="Xã/Phường" v-bind="validateInfos.xWardId">
          <asme-select v-model:value="modelRef.xWardId" :options="lstWard"></asme-select>
        </a-form-item>
      </a-col>
      <a-col :span="8">
        <a-form-item label="Địa chỉ" v-bind="validateInfos.street">
          <a-textarea v-model:value="modelRef.street" />
        </a-form-item>
      </a-col>
    </a-row>
    <a-collapse
      v-if="modelRef.xPartnerTypeIds !== '' && modelRef.xPartnerTypeIds !== '9'"
      v-model:activeKey="activeKey"
      :bordered="true"
    >
      <template #expandIcon="{ isActive }">
        <caret-right-outlined :rotate="isActive ? 90 : 0" />
      </template>
      <a-collapse-panel key="1" header="Người đại diện">
        <a-row type="flex" :gutter="[16, 8]">
          <a-col :span="8">
            <a-form-item label="Họ Tên Khách hàng" v-bind="validateInfos['childIds.name']">
              <asme-input v-model:value="modelRef.childIds.name" />
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item label="Ngày sinh" v-bind="validateInfos['childIds.xBirthday']">
              <a-date-picker v-model:value="modelRef.childIds.xBirthday" />
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item label="Giới tính" v-bind="validateInfos['childIds.xGender']">
              <a-select v-model:value="modelRef.childIds.xGender" :options="OPTIONS_GENDER" />
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item label="Hộ chiếu">
              <asme-input v-model:value="modelRef.childIds.xPassportNo" />
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item label="CCCD/CMTND">
              <asme-input v-model:value="modelRef.childIds.xIdNo" />
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item label="Số điện thoại" v-bind="validateInfos['childIds.phone']">
              <asme-input v-model:value="modelRef.childIds.phone" />
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item label="Địa chỉ email" v-bind="validateInfos['childIds.email']">
              <asme-input v-model:value="modelRef.childIds.email" />
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item label="Tỉnh/TP" v-bind="validateInfos['childIds.xProvinceId']">
              <asme-select
                v-model:value="modelRef.childIds.xProvinceId"
                :request="getResProvinces"
                :filter-option="false"
                @change="onChangeProvinceChild"
              ></asme-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item label="Quận/Huyện" v-bind="validateInfos['childIds.xDistrictId']">
              <asme-select
                v-model:value="modelRef.childIds.xDistrictId"
                :options="lstDistrictChild"
                @change="onChangeDistrictChild"
              ></asme-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item label="Xã/Phường" v-bind="validateInfos['childIds.xWardId']">
              <asme-select
                v-model:value="modelRef.childIds.xWardId"
                :options="lstWardChild"
              ></asme-select>
            </a-form-item>
          </a-col>
          <a-col :span="8">
            <a-form-item label="Địa chỉ">
              <a-textarea v-model:value="modelRef.childIds.street" />
            </a-form-item>
          </a-col>
        </a-row>
      </a-collapse-panel>
    </a-collapse>
    <div class="absolute bottom-2 right-2">
      <div class="flex justify-center">
        <a-button
          type="secondary"
          class="flex justify-center items-center mr-2"
          @click="$emit('closeDrawer')"
        >
          <span>Hủy</span>
        </a-button>
        <a-button type="primary" class="flex justify-center items-center" @click="onSubmit">
          <save-outlined />
          <span>Lưu</span>
        </a-button>
      </div>
    </div>
  </a-form>
</template>
<script lang="ts">
import { defineComponent, ref, reactive, computed, onMounted } from 'vue'
import { Modal, Form, notification } from 'ant-design-vue'
import { RULES_EMAIL, RULES_PHONE_NUMBER, RULES_REQUIRED } from '@/constants/validation'
import { SaveOutlined, CaretRightOutlined } from '@ant-design/icons-vue'
import {
  getResDistricts,
  getResPartnerTypes,
  getResProvinces,
  getResWards
} from '@/views/insurancePolicy/car/getOption'
// eslint-disable-next-line @typescript-eslint/no-unused-vars
import { createCustomer, findById, findByParentId, updateCustomer } from '@/services/masterData'
import { OPTIONS_GENDER } from '@/constants/select'
import dayjs from 'dayjs'

export default defineComponent({
  name: 'FormCustomer',
  components: {
    SaveOutlined,
    CaretRightOutlined
  },
  props: {
    id: {
      type: Number || String,
      default() {
        return 0
      }
    },
    dataSource: {
      type: Array,
      default() {
        return []
      }
    }
  },
  emits: ['closeDrawer', 'getCustomer'],
  setup(props, context) {
    const useForm = Form.useForm
    const visible = ref<boolean>(false)
    const activeKey = ref<string[]>(['1'])
    const isEdit = ref<boolean>(false)
    const lstDistrict = ref([])
    const lstWard = ref([])
    const lstDistrictChild = ref([])
    const lstWardChild = ref([])
    const modelRef = reactive({
      name: '',
      vat: '',
      street: '',
      xProvinceId: '',
      xDistrictId: '',
      xWardId: '',
      phone: '',
      email: '',
      xPartnerTypeIds: '',
      childIds: {
        name: '',
        xBirthday: dayjs(),
        xGender: '',
        xPassportNo: '',
        xIdNo: '',
        phone: '',
        email: '',
        street: '',
        xProvinceId: '',
        xDistrictId: '',
        xWardId: ''
      }
    })
    const rulesRef = reactive({
      xPartnerTypeIds: [RULES_REQUIRED],
      vat: [RULES_REQUIRED],
      name: [RULES_REQUIRED],
      xProvinceId: [RULES_REQUIRED],
      xDistrictId: [RULES_REQUIRED],
      xWardId: [RULES_REQUIRED],
      phone: [RULES_REQUIRED, RULES_PHONE_NUMBER],
      email: [RULES_EMAIL],
      'childIds.name': [
        {
          required: computed(
            () => modelRef.xPartnerTypeIds !== '' && modelRef.xPartnerTypeIds !== '9'
          ),
          message: 'Trường bắt buộc'
        }
      ],
      'childIds.xBirthday': [
        {
          required: computed(
            () => modelRef.xPartnerTypeIds !== '' && modelRef.xPartnerTypeIds !== '9'
          ),
          message: 'Trường bắt buộc'
        }
      ],
      'childIds.xGender': [
        {
          required: computed(
            () => modelRef.xPartnerTypeIds !== '' && modelRef.xPartnerTypeIds !== '9'
          ),
          message: 'Trường bắt buộc'
        }
      ],
      'childIds.xProvinceId': [
        {
          required: computed(
            () => modelRef.xPartnerTypeIds !== '' && modelRef.xPartnerTypeIds !== '9'
          ),
          message: 'Trường bắt buộc'
        }
      ],
      'childIds.xDistrictId': [
        {
          required: computed(
            () => modelRef.xPartnerTypeIds !== '' && modelRef.xPartnerTypeIds !== '9'
          ),
          message: 'Trường bắt buộc'
        }
      ],
      'childIds.xWardId': [
        {
          required: computed(
            () => modelRef.xPartnerTypeIds !== '' && modelRef.xPartnerTypeIds !== '9'
          ),
          message: 'Trường bắt buộc'
        }
      ],
      'childIds.phone': [RULES_PHONE_NUMBER],
      'childIds.email': [RULES_EMAIL]
    })
    const dataKey = ref(0)
    const convertData = (data) => {
      const convertData = {
        name: data.name,
        vat: data.vat,
        street: data.street,
        x_province_id: Number(data.xProvinceId),
        x_district_id: Number(data.xDistrictId),
        x_ward_id: Number(data.xWardId),
        phone: data.phone,
        email: data.email,
        x_partner_type_ids: Number(data.xPartnerTypeIds)
      }
      const params = {
        params: {
          create_vals: { ...convertData },
          token: 'c25982d7efc54431a13664f7ce937413'
        }
      }
      if (convertData.x_partner_type_ids !== 9) {
        params.params.create_vals = {
          ...params.params.create_vals,
          ...{
            child_ids: {
              type: 'representative',
              name: data.childIds.name,
              x_birthday: data.childIds.xBirthday,
              x_gender: data.childIds.xGender,
              x_passport_no: data.childIds.xPassportNo,
              x_id_no: data.childIds.xIdNo,
              phone: data.childIds.phone,
              email: data.childIds.email,
              street: data.childIds.street,
              x_province_id: Number(data.childIds.xProvinceId),
              x_district_id: Number(data.childIds.xDistrictId),
              x_ward_id: Number(data.childIds.xWardId)
            }
          }
        }
      }
      return params
    }
    const getDistrict = async (params: { provinceId: any; keywords?: string }) => {
      try {
        const { data } = await getResDistricts(params)
        if (data && data) {
          lstDistrict.value = data
        }
      } finally {
      }
    }
    const getWard = async (params: { districtId: any; keywords?: string }) => {
      try {
        const { data } = await getResWards(params)
        if (data && data) {
          lstWard.value = data
        }
      } finally {
      }
    }
    const getDistrictChild = async (params: { provinceId: any; keywords?: string }) => {
      try {
        const { data } = await getResDistricts(params)
        if (data && data) {
          lstDistrictChild.value = data
        }
      } finally {
      }
    }
    const getWardChild = async (params: { districtId: any; keywords?: string }) => {
      try {
        const { data } = await getResWards(params)
        if (data && data) {
          lstWardChild.value = data
        }
      } finally {
      }
    }

    const getCustomerById = async (id: any) => {
      try {
        const { data } = await findById({ id: id })
        if (data) {
          setFormEdit(data)
        }
      } catch (e) {
        console.log(e)
      }
    }

    const getCustomerByParentId = async (id: any) => {
      try {
        const { data } = await findByParentId({ parentId: id })
        if (data && data.length) {
          setFormChildEdit(data[0])
        }
      } catch (e) {
        console.log(e)
      }
    }

    // eslint-disable-next-line @typescript-eslint/no-unused-vars
    const setFormEdit = (obj: any) => {
      if (obj) {
        if (obj.xprovinceId) {
          getDistrict({ provinceId: obj.xprovinceId })
        }
        if (obj.xdistrictId) {
          getWard({ districtId: obj.xdistrictId })
        }
        modelRef.name = obj.name
        modelRef.vat = obj.vat
        modelRef.street = obj.street
        modelRef.xPartnerTypeIds = String(obj.partnerTypeId)
        modelRef.phone = obj.phone
        modelRef.email = obj.email
        modelRef.xProvinceId = obj.xprovinceId ? String(obj.xprovinceId) : ''
        modelRef.xDistrictId = obj.xdistrictId ? String(obj.xdistrictId) : ''
        modelRef.xWardId = obj.xwardId ? String(obj.xwardId) : ''
      }
    }

    // eslint-disable-next-line @typescript-eslint/no-unused-vars
    const setFormChildEdit = (obj: any) => {
      if (obj) {
        if (obj.xprovinceId) {
          getDistrictChild({ provinceId: obj.xprovinceId })
        }
        if (obj.xdistrictId) {
          getWardChild({ districtId: obj.xdistrictId })
        }
        modelRef.childIds.name = obj.name
        modelRef.childIds.xBirthday = dayjs(obj.xbirthday)
        modelRef.childIds.xGender = obj.xgender
        modelRef.childIds.xPassportNo = obj.xpassportNo
        modelRef.childIds.xIdNo = obj.xidNo
        modelRef.childIds.xProvinceId = obj.xprovinceId ? String(obj.xprovinceId) : ''
        modelRef.childIds.xDistrictId = obj.xdistrictId ? String(obj.xdistrictId) : ''
        modelRef.childIds.xWardId = obj.xwardId ? String(obj.xwardId) : ''
        modelRef.childIds.street = obj.street
        modelRef.childIds.phone = obj.phone
        modelRef.childIds.email = obj.email
      }
    }
    const showDrawer = () => {
      visible.value = true
    }
    const { resetFields, validate, validateInfos } = useForm(modelRef, rulesRef)
    const create = async (body) => {
      try {
        const params = convertData(body)
        const { data }: any = await createCustomer(params)
        if (data && data.result && data.result.success === true) {
          notification['success']({
            message: 'Thêm mới khách hàng thành công!'
          })
          context.emit('getCustomer', data.result.data.id)
          onClose()
        } else {
          notification['error']({
            message: data.result.error
          })
        }
      } catch (e) {
        console.log(e)
      }
    } // ham tao moi
    const update = async (body, id) => {
      try {
        const params = convertData(body)
        const { data }: any = await updateCustomer(params, id)
        if (data && data.result && data.result.success === true) {
          notification['success']({
            message: 'Cập nhật khách hàng thành công!'
          })
          context.emit('getCustomer', data.result.data.id)
          onClose()
        } else {
          notification['error']({
            message: data.result.error
          })
        }
      } catch (e) {
        console.log(e)
      }
    } // ham tao moi
    const onChangeProvince = (v) => {
      modelRef.xDistrictId = ''
      modelRef.xWardId = ''
      getDistrict({
        provinceId: v
      })
    }

    const onChangeDistrict = (v) => {
      modelRef.xWardId = ''
      getWard({
        districtId: v
      })
    }
    const onChangeProvinceChild = (v) => {
      modelRef.childIds.xDistrictId = ''
      modelRef.childIds.xWardId = ''
      getDistrictChild({
        provinceId: v
      })
    }

    const onChangeDistrictChild = (v) => {
      modelRef.childIds.xWardId = ''
      getWardChild({
        districtId: v
      })
    }
    const onClose = () => {
      visible.value = false
      isEdit.value = false
      context.emit('closeDrawer')
      resetFields()
    } // dong drawer
    const onSubmit = () => {
      validate()
        .then(() => {
          Modal.confirm({
            title: 'Bạn có chắc chắn muốn thực hiện không?',
            async onOk() {
              if (props.id) {
                const dataSource: any[] = [...props.dataSource]
                const obj = dataSource.find((v: any) => {
                  return v.id == props.id
                })
                await update(
                  { ...modelRef, ...{ id: obj.parentId ? obj.parentId : props.id } },
                  obj.parentId ? obj.parentId : props.id
                )
              } else {
                await create({ ...modelRef })
              }
            }
          })
        })
        .catch((err) => {
          console.log('error', err)
        })
    } // submit form

    onMounted(() => {
      const id = props.id
      const dataSource: any[] = [...props.dataSource]
      if (id && dataSource && Array.isArray(dataSource) && dataSource.length) {
        const obj = dataSource.find((v: any) => {
          return v.id == id
        })
        if (obj) {
          // setFormEdit(obj)

          // La nguoi dai dien va co parentID
          if (obj.parentId) {
            getCustomerById(obj.parentId)
            getCustomerByParentId(obj.parentId)
          } else {
            // la khach hang
            setFormEdit(obj)
            getCustomerByParentId(obj.id)
          }
        }
        // getCustomerById(id)
      }
    })
    return {
      OPTIONS_GENDER,
      activeKey,
      visible,
      validateInfos,
      modelRef,
      isEdit,
      dataKey,
      lstDistrict,
      lstWard,
      lstDistrictChild,
      lstWardChild,
      showDrawer,
      onClose,
      validate,
      resetFields,
      onSubmit,
      getResPartnerTypes,
      getResProvinces,
      onChangeProvince,
      onChangeDistrict,
      onChangeProvinceChild,
      onChangeDistrictChild
    }
  }
})
</script>
