<template :key="key">
  <div
    ref="box"
    :style="{
      backgroundPositionY: 'center',
      backgroundSize: '25%'
    }"
  ></div>
</template>

<script>
import { defineComponent, onBeforeMount, ref } from 'vue'
import { useStore } from 'vuex'

export default defineComponent({
  components: {},
  setup() {
    const key = ref(1)
    const store = useStore()
    const selfInfo = ref(store.state)
    const box = ref(null)
    onBeforeMount(() => {
      key.value++
    })
    return {
      selfInfo,
      key,
      box
    }
  },
  data() {
    return {}
  },
  methods: {}
})
</script>

<style lang="less">
.custom-card {
  .ant-card-body {
    padding: 1rem;
  }

  .ant-card-head {
    padding: 0 1rem;
  }
}
</style>
