<template>
  <div class="logo">
    <router-link :to="{ name: 'dashboard' }">
      <img src="@/assets/logo.png" />
      <h1 v-if="showTitle" class="uppercase">{{ title }}</h1>
    </router-link>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Logo',
  components: {},
  props: {
    title: {
      type: String,
      default: 'ADMIN',
      required: false
    },
    showTitle: {
      type: Boolean,
      default: true,
      required: false
    }
  }
})
</script>
