<template>
  <a-drawer
    :title="isEdit ? `Sửa Kho` : 'Thêm kho'"
    size="large"
    :visible="visible"
    @close="onClose"
  >
    <template #extra>
      <a-button type="primary" @click="onSubmit">Lưu</a-button>
    </template>
    <a-form layout="vertical">
      <a-row type="flex" :gutter="16">
        <a-col :span="12">
          <a-form-item label="Mã" v-bind="validateInfos.code">
            <a-input v-model:value="modelRef.code" />
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="Tên" v-bind="validateInfos.name">
            <a-input v-model:value="modelRef.name" />
          </a-form-item>
        </a-col>
        <a-col :span="12" class="z-10">
          <a-form-item label="Tài khoản kho" v-bind="validateInfos.inventoryAccountId">
            <asme-select
              v-model:value="modelRef.inventoryAccountId"
              :api="'/account/list-account'"
              :field-names="{
                label: 'accountVnName',
                value: 'id'
              }"
              :params="{ prefix: 15 }"
            >
            </asme-select>
          </a-form-item>
        </a-col>
        <a-col :span="12">
          <a-form-item label="Địa chỉ" v-bind="validateInfos.address">
            <a-textarea v-model:value="modelRef.address" />
          </a-form-item>
        </a-col>
      </a-row>
    </a-form>
  </a-drawer>
</template>
<script lang="ts">
import { defineComponent, ref, reactive } from 'vue'
import { Modal, Form, message } from 'ant-design-vue'
import { getLocations } from '@/services/sys/locations'
import { h } from 'vue'
import Loading from '@/components/Loading/Loading.vue'
import {
  RULES_1_TO_50,
  RULES_1_TO_255,
  RULES_REQUIRED,
  RULES_1_TO_500
} from '@/constants/validation'
import { createWarehouse } from '@/services/sys/warehouse'
import API from '@/services/sys/defineRouting'
import columnsBank from '@/views/admin/accountBank/bank/columns'
import { Pagination } from '#/table'
import PAGINATION from '@/constants/pagination'
interface Model {
  id: number | null
  inventoryAccountId: string
  code: string
  name: string
  address: string
  status: string
  orgUnitId: string
}
const useForm = Form.useForm
export default defineComponent({
  name: 'WareHouseForm',
  setup() {
    const lstBank = ref([])
    const loading = ref<boolean>(false)
    const visible = ref<boolean>(false)
    const activeSearchKey = ref<number>(1)
    const quickSearch = ref<string>('')
    const isEdit = ref<boolean>(false)
    const lstLocation = ref([])
    const indicator = h(Loading, {
      style: {
        fontSize: '60px'
      },
      delay: 300
    })
    const modelRef = reactive<Model>({
      id: null,
      inventoryAccountId: '',
      code: '',
      name: '',
      address: '',
      status: '',
      orgUnitId: ''
    })
    const rulesRef = reactive({
      code: [RULES_REQUIRED, RULES_1_TO_50],
      name: [RULES_REQUIRED, RULES_1_TO_255],
      address: [RULES_1_TO_500]
    })
    const filters = ref({
      keyword: ''
    })
    const data = ref([])
    const editedRows = ref([])
    const pagination = ref<Pagination>(PAGINATION)
    const dataKey = ref(0)
    const showDrawer = () => {
      visible.value = true
    }
    const getListLocations = async () => {
      const { body } = await getLocations()
      if (body) {
        lstLocation.value = body
      }
    }
    const { resetFields, validate, validateInfos } = useForm(modelRef, rulesRef)
    const create = async (params) => {
      try {
        params.status = 1
        await createWarehouse(params)
        message.success({ content: 'Thực hiện hành động thành công!' })
      } catch (e) {
        console.log(e)
      }
    } // ham tao moi
    const onClose = () => {
      visible.value = false
      isEdit.value = false
      resetFields()
    } // dong drawer
    const onSubmit = () => {
      validate()
        .then(() => {
          Modal.confirm({
            title: 'Bạn có chắc chắn muốn thực hiện không?',
            async onOk() {
              await create({ ...modelRef })
              onClose()
            }
          })
        })
        .catch((err) => {
          console.log('error', err)
        })
    } // submit form
    getListLocations()
    return {
      h,
      indicator,
      columnsBank,
      API,
      loading,
      pagination,
      filters,
      data,
      activeSearchKey,
      editedRows,
      visible,
      validateInfos,
      modelRef,
      isEdit,
      quickSearch,
      lstLocation,
      dataKey,
      lstBank,
      showDrawer,
      onClose,
      validate,
      resetFields,
      onSubmit
    }
  }
})
</script>
