<template>
  <a-result status="403" title="403" sub-title="Sorry, you don't have access to this page.">
    <template #extra>
      <a-button type="primary" @click="toHome"> {{ $t('backHome') }} </a-button>
    </template>
  </a-result>
</template>

<script lang="ts">
export default {
  name: 'Exception403',
  methods: {
    toHome(): void {
      this.$router.push({ path: '/' })
    }
  }
}
</script>
