@import "ant-design-vue/lib/style/themes/default";
@primary-color: #243468; // primary color for all componentsz`
@ant-pro-prefix : ant-pro;
@ant-global-sider-zindex : 106;
@ant-global-header-zindex : 105;

@layout-header-height: 48px;

// Table
@table-header-bg: darken(@primary-color, 5%);
@dark-deactive-font-color: rgba(255, 255, 255, 0.65);
@dark-active-font-color: rgba(255, 255, 255, 0.85);
@dark-bg: #1f1f1f;
@dark-bg-hover: #242424!important;
@primary-color-hover: color(~`colorPalette('@{primary-color}', 5) `);
@primary-color-active: color(~`colorPalette('@{primary-color}', 7) `);
@primary-color-outline: fade(@primary-color, @outline-fade);
@font-family: 'Quicksand', sans-serif;
@layout-sider-background: #03315d;
@link-color: @primary-color;
@border-radius-base: 10px;
// Table
@table-header-bg:#fafafa;