<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    style="
      margin: auto;
      background: none;
      display: block;
      shape-rendering: auto;
      animation-play-state: running;
      animation-delay: 0s;
    "
    width="100px"
    height="100px"
    viewBox="0 0 100 100"
    preserveAspectRatio="xMidYMid"
  >
    <circle
      cx="84"
      cy="50"
      r="10"
      fill="#93dbe9"
      style="animation-play-state: running; animation-delay: 0s"
    >
      <animate
        attributeName="r"
        repeatCount="indefinite"
        dur="0.3205128205128205s"
        calcMode="spline"
        keyTimes="0;1"
        values="10;0"
        keySplines="0 0.5 0.5 1"
        begin="0s"
        style="animation-play-state: running; animation-delay: 0s"
      ></animate>
      <animate
        attributeName="fill"
        repeatCount="indefinite"
        dur="1.282051282051282s"
        calcMode="discrete"
        keyTimes="0;0.25;0.5;0.75;1"
        values="#93dbe9;#3b4368;#5e6fa3;#689cc5;#93dbe9"
        begin="0s"
        style="animation-play-state: running; animation-delay: 0s"
      ></animate>
    </circle>
    <circle
      cx="16"
      cy="50"
      r="10"
      fill="#93dbe9"
      style="animation-play-state: running; animation-delay: 0s"
    >
      <animate
        attributeName="r"
        repeatCount="indefinite"
        dur="1.282051282051282s"
        calcMode="spline"
        keyTimes="0;0.25;0.5;0.75;1"
        values="0;0;10;10;10"
        keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
        begin="0s"
        style="animation-play-state: running; animation-delay: 0s"
      ></animate>
      <animate
        attributeName="cx"
        repeatCount="indefinite"
        dur="1.282051282051282s"
        calcMode="spline"
        keyTimes="0;0.25;0.5;0.75;1"
        values="16;16;16;50;84"
        keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
        begin="0s"
        style="animation-play-state: running; animation-delay: 0s"
      ></animate>
    </circle>
    <circle
      cx="50"
      cy="50"
      r="10"
      fill="#689cc5"
      style="animation-play-state: running; animation-delay: 0s"
    >
      <animate
        attributeName="r"
        repeatCount="indefinite"
        dur="1.282051282051282s"
        calcMode="spline"
        keyTimes="0;0.25;0.5;0.75;1"
        values="0;0;10;10;10"
        keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
        begin="-0.3205128205128205s"
        style="animation-play-state: running; animation-delay: 0s"
      ></animate>
      <animate
        attributeName="cx"
        repeatCount="indefinite"
        dur="1.282051282051282s"
        calcMode="spline"
        keyTimes="0;0.25;0.5;0.75;1"
        values="16;16;16;50;84"
        keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
        begin="-0.3205128205128205s"
        style="animation-play-state: running; animation-delay: 0s"
      ></animate>
    </circle>
    <circle
      cx="84"
      cy="50"
      r="10"
      fill="#5e6fa3"
      style="animation-play-state: running; animation-delay: 0s"
    >
      <animate
        attributeName="r"
        repeatCount="indefinite"
        dur="1.282051282051282s"
        calcMode="spline"
        keyTimes="0;0.25;0.5;0.75;1"
        values="0;0;10;10;10"
        keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
        begin="-0.641025641025641s"
        style="animation-play-state: running; animation-delay: 0s"
      ></animate>
      <animate
        attributeName="cx"
        repeatCount="indefinite"
        dur="1.282051282051282s"
        calcMode="spline"
        keyTimes="0;0.25;0.5;0.75;1"
        values="16;16;16;50;84"
        keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
        begin="-0.641025641025641s"
        style="animation-play-state: running; animation-delay: 0s"
      ></animate>
    </circle>
    <circle
      cx="16"
      cy="50"
      r="10"
      fill="#3b4368"
      style="animation-play-state: running; animation-delay: 0s"
    >
      <animate
        attributeName="r"
        repeatCount="indefinite"
        dur="1.282051282051282s"
        calcMode="spline"
        keyTimes="0;0.25;0.5;0.75;1"
        values="0;0;10;10;10"
        keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
        begin="-0.9615384615384615s"
        style="animation-play-state: running; animation-delay: 0s"
      ></animate>
      <animate
        attributeName="cx"
        repeatCount="indefinite"
        dur="1.282051282051282s"
        calcMode="spline"
        keyTimes="0;0.25;0.5;0.75;1"
        values="16;16;16;50;84"
        keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1"
        begin="-0.9615384615384615s"
        style="animation-play-state: running; animation-delay: 0s"
      ></animate>
    </circle>
  </svg>
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Loading',
  setup() {
    return {}
  }
})
</script>

<style scoped></style>
