<template>
  <transition name="showHeader">
    <div v-if="visible" class="header-animat">
      <a-layout-header
        v-if="visible"
        :class="[
          fixedHeader && 'ant-header-fixedHeader',
          sidebarOpened ? 'ant-header-side-opened' : 'ant-header-side-closed'
        ]"
        :style="{ padding: '0' }"
      >
        <div v-if="mode === 'sidemenu'" class="header">
          <div class="flex justify-between items-center hover:asme-text-red" @click="toggle">
            <template v-if="device === 'mobile'">
              <MenuFoldOutlined v-if="collapsed" class="trigger flex" />
              <MenuUnfoldOutlined v-else class="trigger flex" />
            </template>
            <template v-else>
              <MenuUnfoldOutlined v-if="collapsed" class="trigger flex" />
              <MenuFoldOutlined v-else class="trigger flex" />
            </template>
          </div>
          <div class="flex w-full justify-end items-center">
            <div class="flex justify-end items-center">
              <a-tooltip>
                <template #title>Thông báo</template>
                <httcloud-svg-icon name="bell" class="mr-1 menu-icon"></httcloud-svg-icon>
              </a-tooltip>
              <a-tooltip>
                <template #title>Trợ giúp</template>
                <httcloud-svg-icon name="help" class="mr-4 menu-icon" />
              </a-tooltip>
              <a-dropdown :trigger="['click']">
                <div class="flex items-center cursor-pointer">
                  <a-avatar
                    v-if="avatarUrl"
                    size="small"
                    class="flex items-center h-6 w-6"
                    :src="avatarUrl"
                  />
                  <a-avatar v-else size="small" class="asme-bg-blue">
                    {{ acronym }}
                  </a-avatar>
                </div>
                <template #overlay>
                  <a-menu>
                    <a-menu-item key="0" @click="showDrawerAccount">
                      <template #icon>
                        <httcloud-svg-icon name="user" />
                      </template>
                      Tài khoản cá nhân
                    </a-menu-item>
                    <a-menu-divider />
                    <a-menu-divider />
                    <a-menu-item key="5" @click="handleLogout">
                      <template #icon>
                        <httcloud-svg-icon name="logout" />
                      </template>
                      Thoát ứng dụng
                    </a-menu-item>
                  </a-menu>
                </template>
              </a-dropdown>
              <a-drawer
                v-model:visible="visibleDrawerAccount"
                placement="right"
                width="600"
                :closable="false"
                class="profile-drawer"
                :destroy-on-close="true"
              >
                <a-divider />
                <a-form> </a-form>
              </a-drawer>
            </div>
          </div>
        </div>
        <div v-else :class="['top-nav-header-index', theme]">
          <div class="header-index-wide">
            <div class="header-index-left">
              <logo class="top-nav-header" :show-title="device !== 'mobile'" />
              <s-menu v-if="device !== 'mobile'" mode="horizontal" :menu="menus" :theme="theme" />
              <span v-else @click="toggle">
                <MenuFoldOutlined v-if="collapsed === 'menu-fold'" class="trigger" />
                <MenuUnfoldOutlined v-if="collapsed === 'menu-unfold'" class="trigger" />
              </span>
            </div>
            <user-menu class="header-index-right" :theme="theme"></user-menu>
          </div>
        </div>
      </a-layout-header>
    </div>
  </transition>
</template>

<script lang="ts">
import UserMenu from '../Tools/UserMenu/index.vue'
import SMenu from '../Menu/Menu.vue'
import Logo from '../Tools/Logo.vue'
import { defineComponent, ref, onMounted, onBeforeUnmount, reactive, computed } from 'vue'
import { MenuFoldOutlined, MenuUnfoldOutlined } from '@ant-design/icons-vue'
import { sidebarOpened, device, fixedHeader, autoHideHeader } from '@/store/useSiteSettings'
import ls from '@/utils/Storage'
import { SELF_INFO } from '@/store/mutation-types'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import { clearUserInfo } from '@/utils/util'
import { Modal, message, Form, notification } from 'ant-design-vue'
import { RULES_EMAIL, RULES_PHONE_NUMBER, RULES_REQUIRED } from '@/constants/validation'
import { getBase64 } from '@/utils/util'
import { logout } from '@/services/auth'

export default defineComponent({
  name: 'GlobalHeader',
  components: {
    UserMenu,
    Logo,
    SMenu,
    MenuFoldOutlined,
    MenuUnfoldOutlined
  },
  props: {
    mode: {
      type: String,
      default: 'sidemenu'
    },
    menus: {
      type: Array,
      required: true
    },
    theme: {
      type: String,
      required: false,
      default: 'dark'
    },
    collapsed: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  emits: ['toggle', 'refresh'],
  setup(props, { emit }) {
    const useForm = Form.useForm
    const router = useRouter()
    const { state, getters } = useStore()
    const visible = ref<boolean>(true)
    if (device.value === 'mobile') {
      emit('toggle')
    }
    const visibleSetupAndAdmin = ref<boolean>(false)
    const visibleSelectBranch = ref<boolean>(false)
    const oldScrollTop = ref<number>(0)
    const ticking = ref<boolean>(false)
    const value = ref<string>('index')
    const keyUpload = ref<number>(1)
    const everRun = ref<boolean>(false)
    const staffInfo = ref({})
    const handleScroll = () => {
      if (!autoHideHeader.value) {
        return
      }
      const scrollTop = document.body.scrollTop + document.documentElement.scrollTop
      if (!ticking.value) {
        ticking.value = true
        requestAnimationFrame(() => {
          if (oldScrollTop.value > scrollTop) {
            visible.value = true
          } else if (scrollTop > 200 && visible.value) {
            visible.value = false
          } else if (scrollTop < 200 && !visible.value) {
            visible.value = true
          }
          oldScrollTop.value = scrollTop
          ticking.value = false
        })
      }
    }
    const toggle = () => {
      emit('toggle')
    }
    const onSelect = (v) => {
      router.push({ name: v.key })
    }
    const currentUser = state.account.info
    const currentOrgUnitId = ref()
    const listOrgUnitId = ref([])
    const acronym = ref()
    const avatarUrl = ref()
    const modelRef = ref<any>({})
    const editEmail = ref<boolean>(false)
    const editPhone = ref<boolean>(false)
    const rulesRef = reactive({
      email: [RULES_REQUIRED, RULES_EMAIL],
      phoneNumber: [RULES_REQUIRED, RULES_PHONE_NUMBER]
    })
    const { resetFields, validate, validateInfos } = useForm(modelRef, rulesRef)
    const visibleDrawerAccount = ref<boolean>(false)
    const showDrawerAccount = async () => {
      visibleDrawerAccount.value = true
    }
    const onHideHeader = () => {
      visible.value = false
    }

    const checked = ref<boolean>(false)
    const editPassword = ref<boolean>(false)
    const onSave = () => {
      validate().then(() => {
        Modal.confirm({
          title: 'Bạn có chắc chắn muốn cập nhật thông tin không?',
          async onOk() {
            ls.setObj(SELF_INFO, modelRef.value)
            editEmail.value = false
            editPhone.value = false
            message.success({ content: 'Cập nhật thông tin thành công' })
          }
        })
      })
    }
    const localLogout = () => {
      clearUserInfo()
      message.success('Đăng xuất thành công!')
      window.location.reload()
    }
    const handleLogout = () => {
      Modal.confirm({
        title: 'Gợi ý',
        content: 'Bạn có thực sự muốn đăng xuất?',
        onOk: async () => {
          try {
            await logout()
            clearUserInfo()
            localLogout()
            // await router.push('/user')
          } catch (e) {
            notification.error({
              message: 'Đăng xuất không thành công!'
            })
          }
        }
      })
    }

    onMounted(async () => {
      document.addEventListener('scroll', handleScroll, { passive: true })
    })
    onBeforeUnmount(() => {
      document.body.removeEventListener('scroll', handleScroll, true)
    })
    const beforeUploadAvatar = async (file: File, fileList: File[]) => {
      console.log(fileList)
      // info.file.status = 'done'
      const imageBase64 = await getBase64(file)
      if (imageBase64) {
        // fileList = []
      }
      return false
    }
    const tenant = computed(() => getters.tenant)
    return {
      fixedHeader,
      sidebarOpened,
      device,
      tenant,
      avatarUrl,
      currentOrgUnitId,
      listOrgUnitId,
      everRun,
      keyUpload,
      acronym,
      validateInfos,
      modelRef,
      editPassword,
      editEmail,
      editPhone,
      currentUser,
      staffInfo,
      checked,
      visible,
      value,
      visibleSetupAndAdmin,
      visibleSelectBranch,
      visibleDrawerAccount,
      showDrawerAccount,
      onHideHeader,
      resetFields,
      validate,
      onSave,
      handleLogout,
      beforeUploadAvatar,
      toggle,
      onSelect
    }
  }
})
</script>

<style lang="less">
@import '../../style/index.less';

.profile-drawer .ant-drawer-body {
  margin-top: 0;
}

//.avatar-uploader {
//  > .ant-upload {
//    width: 72px !important;
//    height: 72px !important;
//  }
//}

.header-animat {
  position: relative;
  z-index: @ant-global-header-zindex;
}

.showHeader-enter-active {
  transition: all 0.25s ease;
}

.showHeader-leave-active {
  transition: all 0.5s ease;
}

.showHeader-enter,
.showHeader-leave-to {
  opacity: 0;
}

.py-1 {
  a {
    color: rgba(0, 0, 0, 0.85) !important;
    padding: 4px 0 4px 0;

    &:hover {
      color: @primary-color !important;
    }
  }
}

svg:focus {
  outline: none;
}

.ant-avatar-circle {
  .ant-avatar-string {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
</style>
