<template>
  <!--  <SettingItem :title="$t('settingDrawer.theme')">-->
  <!--    &lt;!&ndash;    <div style="height: 20px">&ndash;&gt;-->
  <!--    &lt;!&ndash;      <a-tooltip&ndash;&gt;-->
  <!--    &lt;!&ndash;        v-for="(item, index) in colorList"&ndash;&gt;-->
  <!--    &lt;!&ndash;        :key="index"&ndash;&gt;-->
  <!--    &lt;!&ndash;        class="setting-drawer-theme-color-colorBlock"&ndash;&gt;-->
  <!--    &lt;!&ndash;      >&ndash;&gt;-->
  <!--    &lt;!&ndash;        <template #title>{{ item.key }}</template>&ndash;&gt;-->
  <!--    &lt;!&ndash;        <a-tag :color="item.color" @click="changeColor(item.color)">&ndash;&gt;-->
  <!--    &lt;!&ndash;          <CheckOutlined v-if="item.color === primaryColor" />&ndash;&gt;-->
  <!--    &lt;!&ndash;        </a-tag>&ndash;&gt;-->
  <!--    &lt;!&ndash;      </a-tooltip>&ndash;&gt;-->
  <!--    &lt;!&ndash;      <a-popover&ndash;&gt;-->
  <!--    &lt;!&ndash;        title="tùy chỉnh"&ndash;&gt;-->
  <!--    &lt;!&ndash;        overlay-class-name="themeColorCustomColor"&ndash;&gt;-->
  <!--    &lt;!&ndash;        placement="bottomRight"&ndash;&gt;-->
  <!--    &lt;!&ndash;      >&ndash;&gt;-->
  <!--    &lt;!&ndash;        <template #content>&ndash;&gt;-->
  <!--    &lt;!&ndash;          &lt;!&ndash;          <ColorPicker format="hex" disable-history disable-alpha @change="changeColor" />&ndash;&gt;&ndash;&gt;-->
  <!--    &lt;!&ndash;        </template>&ndash;&gt;-->
  <!--    &lt;!&ndash;&lt;!&ndash;        <a-tag&ndash;&gt;&ndash;&gt;-->
  <!--    &lt;!&ndash;&lt;!&ndash;          :color="isCustomColor ? primaryColor : ''"&ndash;&gt;&ndash;&gt;-->
  <!--    &lt;!&ndash;&lt;!&ndash;          class="setting-drawer-theme-color-colorBlock"&ndash;&gt;&ndash;&gt;-->
  <!--    &lt;!&ndash;&lt;!&ndash;        >&ndash;&gt;&ndash;&gt;-->
  <!--    &lt;!&ndash;&lt;!&ndash;          <CheckOutlined v-if="isCustomColor" />&ndash;&gt;&ndash;&gt;-->
  <!--    &lt;!&ndash;&lt;!&ndash;        </a-tag>&ndash;&gt;&ndash;&gt;-->
  <!--    &lt;!&ndash;      </a-popover>&ndash;&gt;-->
  <!--    &lt;!&ndash;    </div>&ndash;&gt;-->
  <!--  </SettingItem>-->
  <div></div>
</template>
<script lang="ts">
import { defineComponent, computed } from 'vue'
import { useStore } from 'vuex'
import { TOGGLE_COLOR } from '@/store/mutation-types'
import { colorList } from '../settingConfig'
// import { updateTheme } from '../updateTheme'
import { primaryColor } from '@/store/useSiteSettings'
import ls from '@/utils/Storage'
export default defineComponent({
  setup() {
    const { state, commit } = useStore()
    const changeColor = (color) => {
      commit(TOGGLE_COLOR, color)
      // updateTheme(color)
      ls.set('CURRENT_BG_COLOR', color)
    }

    const colorArr = colorList.map((item) => item.color)
    const isCustomColor = computed(() => {
      return !colorArr.includes(state.app.color)
    })
    return {
      colorList,
      changeColor,
      primaryColor,
      isCustomColor
    }
  }
})
</script>
<style lang="less">
.setting-drawer-theme-color-colorBlock {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  float: left;
  cursor: pointer;
  margin-right: 8px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  color: #fff;
  font-weight: 700;

  i {
    font-size: 14px;
  }
}
</style>
