<script lang="ts" setup>
import { reactive, UnwrapRef } from 'vue'
import { useI18n } from 'vue-i18n'
import { Form } from 'ant-design-vue'
import { loginSuccess } from '@/utils/auth'
import { useRouter, useRoute } from 'vue-router'
import { UserOutlined, LockOutlined } from '@ant-design/icons-vue'
import * as api from './service'
import { LoginRequest } from './types'
// import config from '@/config/defaultSettings'
// import generateAsyncRoutes from '@/router/generateAsyncRoutes'
import { RULES_REQUIRED } from '@/constants/validation'
import ls from '@/utils/Storage'
import Confirm from '@/components/ASME/Confirm.vue'
import { login } from '@/services/auth'
const cfModal = reactive({
  title: 'Thông báo',
  content: '',
  okText: 'Tiếp tục đăng nhập',
  show: false,
  ok: () => {
    cfModal.show = false
  },
  cancel: () => {
    cfModal.show = false
  }
})
const useForm = Form.useForm
const { t } = useI18n()
const router = useRouter()
const route = useRoute()
const redirect = route.query.redirect ?? '/'
const clientId = import.meta.env.VITE_CLIENT_ID

const state = reactive({
  time: 60,
  loginBtn: false,
  loginType: 0,
  smsSendBtn: false,
  twoFA: false
})
const loginRequest: LoginRequest = {
  clientId: clientId,
  username: '',
  password: '',
  isSecure: false,
  deviceUuid: ls.get('SOCK_UUID'),
  deviceType: 1,
  socketId: ls.get('SOCK_UUID')
}
const formRef: UnwrapRef<LoginRequest> = reactive(loginRequest)
const loginTwoFaRequest: LoginRequest = { ...{ otp: '' }, ...loginRequest }
const formTwoFaRef: UnwrapRef<LoginRequest> = reactive(loginTwoFaRequest)
const rulesRef = reactive({
  username: [RULES_REQUIRED],
  password: [RULES_REQUIRED]
})
const { validate, validateInfos } = useForm(formRef, rulesRef)
const handleSubmit = (e: Event) => {
  e.preventDefault()
  state.loginBtn = true
  const validateFieldsKey = ['username', 'password']

  validate(validateFieldsKey)
    .then(async () => {
      const data = await login({ email: formRef.username, password: formRef.password })
      if (data) {
        await loginSuccess(data, router, redirect)
      }
    })
    .catch((e) => {
      console.log(e)
      // Modal.error({ title: 'Thông báo', content: e.response.data.message })
    })
    .finally(() => {
      state.loginBtn = false
    })
}

const handleTwoFaSubmit = (e: Event) => {
  e.preventDefault()
  state.loginBtn = true
  const otpValidateFieldsKey = ['username', 'password']
  const twoFaRulesRef = reactive({
    otp: [
      {
        required: true,
        message: t('user.otp.required')
      }
    ]
  })
  const { validate } = useForm(formTwoFaRef, twoFaRulesRef)
  validate(otpValidateFieldsKey).then(async () => {
    state.loginBtn = false
    formTwoFaRef.clientId = clientId
    formTwoFaRef.username = formRef.username
    formTwoFaRef.password = formRef.password
    const rs = await api.userLoginTwoFa(formTwoFaRef)
    if (rs) {
      await loginSuccess(rs.body, router, redirect)
    }
  })
}
</script>
<template>
  <div v-if="!cfModal.show" class="container-login">
    <div class="wrap-login">
      <a-row class="w-full">
        <div class="logo-login">
          <img src="~@/assets/logo.png" class="logo logo-login--image" alt="logo" height="40" />
        </div>
        <a-form
          v-if="!state.twoFA"
          id="formLogin"
          class="user-layout-login"
          :model="formRef"
          @submit="handleSubmit"
        >
          <a-form-item v-bind="validateInfos.username">
            <a-input
              v-model:value="formRef.username"
              size="large"
              type="text"
              :placeholder="$t('user.login.username.placeholder')"
            >
              <template #prefix>
                <UserOutlined :style="{ color: 'rgba(0,0,0,.25)' }" />
              </template>
            </a-input>
          </a-form-item>

          <a-form-item v-bind="validateInfos.password">
            <a-input-password
              v-model:value="formRef.password"
              autocomplete="false"
              size="large"
              :placeholder="$t('user.login.password.placeholder')"
            >
              <template #prefix>
                <LockOutlined :style="{ color: 'rgba(0,0,0,.25)' }" />
              </template>
            </a-input-password>
          </a-form-item>
          <div class="flex justify-between">
            <a-form-item>
              <a-checkbox v-model:checked="formRef.rememberMe"
                >{{ $t('user.login.remember-me') }}
              </a-checkbox>
            </a-form-item>
          </div>
          <a-form-item class="mb-0 mt-6">
            <a-button
              size="large"
              type="primary"
              html-type="submit"
              class="login-button"
              :loading="state.loginBtn"
              :disabled="state.loginBtn"
              >{{ $t('user.login.login') }}
            </a-button>
          </a-form-item>
        </a-form>
        <a-form
          v-if="state.twoFA"
          id="twoFAConfirm"
          class="user-layout-login"
          :model="formTwoFaRef"
          @submit="handleTwoFaSubmit"
        >
          <a-form-item>
            <a-input
              v-model:value="formTwoFaRef.otp"
              size="large"
              type="text"
              :placeholder="$t('user.login.otp')"
            >
              <template #prefix>
                <LockOutlined :style="{ color: 'rgba(0,0,0,.25)' }" />
              </template>
            </a-input>
          </a-form-item>
          <a-form-item class="mt-6">
            <a-button
              size="large"
              type="primary"
              html-type="submit"
              class="login-button"
              :loading="state.loginBtn"
              :disabled="state.loginBtn"
              >{{ $t('user.login.next') }}
            </a-button>
          </a-form-item>
        </a-form>
      </a-row>
    </div>
  </div>
  <Confirm
    :show="cfModal.show"
    :title="cfModal.title"
    :ok-text="cfModal.okText"
    @ok="cfModal.ok"
    @cancel="cfModal.cancel"
  >
    <template #content>
      <p>
        Tài khoản này đang được sử dụng trên <strong>{{ cfModal.content }}</strong
        >. Tiếp tục đăng nhập trên máy này, tài khoản sẽ đăng xuất khỏi tất cả các máy khác.
      </p>
      <p>Bạn có muốn tiếp tục đăng nhập không?</p>
    </template>
  </Confirm>
</template>
<style lang="less" scoped>
@import '@/style/index.less';
@import './login.less';
</style>
