<template>
  <div class="container-login">
    <div class="wrap-login">
      <a-row class="w-full">
        <div class="logo-login">
          <img src="~@/assets/icons/logo.svg" class="logo logo-login--image" alt="logo" />
          <div class="logo-login--brand">ASME</div>
        </div>
        <div class="text-center font-semi bold w-full">
          <svg
            id="Layer_1"
            class="w-32 h-32"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 100 100"
            enable-background="new 0 0 100 100"
            xml:space="preserve"
          >
            <rect fill="#0054A7" width="3" height="100" transform="translate(0) rotate(180 3 50)">
              <animate
                attributeName="height"
                attributeType="XML"
                dur="1s"
                values="30; 100; 30"
                repeatCount="indefinite"
              />
            </rect>
            <rect
              x="17"
              fill="#0054A7"
              width="3"
              height="100"
              transform="translate(0) rotate(180 20 50)"
            >
              <animate
                attributeName="height"
                attributeType="XML"
                dur="1s"
                values="30; 100; 30"
                repeatCount="indefinite"
                begin="0.1s"
              />
            </rect>
            <rect
              x="40"
              fill="#0054A7"
              width="3"
              height="100"
              transform="translate(0) rotate(180 40 50)"
            >
              <animate
                attributeName="height"
                attributeType="XML"
                dur="1s"
                values="30; 100; 30"
                repeatCount="indefinite"
                begin="0.3s"
              />
            </rect>
            <rect
              x="60"
              fill="#0054A7"
              width="3"
              height="100"
              transform="translate(0) rotate(180 58 50)"
            >
              <animate
                attributeName="height"
                attributeType="XML"
                dur="1s"
                values="30; 100; 30"
                repeatCount="indefinite"
                begin="0.5s"
              />
            </rect>
            <rect
              x="80"
              fill="#0054A7"
              width="3"
              height="100"
              transform="translate(0) rotate(180 76 50)"
            >
              <animate
                attributeName="height"
                attributeType="XML"
                dur="1s"
                values="30; 100; 30"
                repeatCount="indefinite"
                begin="0.1s"
              />
            </rect>
          </svg>
          <div class="w-full">{{ $t('user.login.refresh-token.message') }}</div>
        </div>
      </a-row>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import store from '@/store'

export default defineComponent({
  setup() {
    const router = useRouter()
    let redirect
    onMounted(async () => {
      try {
        await store.dispatch('refreshToken')
        await store.dispatch('getUser')
        return router.push(redirect)
      } catch (e) {
        return router.push({ name: 'login' })
      }
    })
  }
})
</script>

<style lang="less" scoped>
//@import '../../style/index.less';
@import './login.less';
</style>
