//-------------------- Start ASME ------------------//
//body {
//  overflow: hidden;
//}
@font-size-base: 12.8px;
*::selection {
  background-color: @primary-color;
}
*::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  height: 6px;
}

*::-webkit-scrollbar-track-piece {
  border: none;
  background-color: transparent;
  border-radius: 10px;
}
.ant-image-img {
  height: 100% !important;
}
*::-webkit-scrollbar-thumb {
  width: 6px;
  // height: 6px;
  //background: rgba(70, 108, 149, 0.85);
  background: #d8d8d8;
  border-radius: 10px;
  &:hover {
    width: 16px;
  }
}
a:active, a:hover {
  color: @primary-color;
}
.ant-picker-today-btn {
  color: @primary-color !important;
}
.ant-picker {
  width: 100%;
}
.ant-table-wrapper::-webkit-scrollbar {
  width: 3px !important;
}

#html {
  font-family: @font-family;
  font-weight: 500;
  &.colorWeak {
    filter: invert(80%);
  }

  &.grayMode {
    filter: grayscale(100%);
  }

  .ant-btn-primary {

    &:active,
    &:hover,
    &:focus {
      color: @white;
    }
  }
}
.sider .ant-layout-sider-children:hover {
  overflow-y: hidden!important;
}
#app {
  height: 100%;
  font-family: @font-family;
  .asme-text-green {
    &:extend(.asme-text-green);
    stroke-dashoffset: 745.74853515625;
    stroke-dasharray: 745.74853515625;
    animation: dash 10s ease-out forwards;
  }
  .asme-text-green {
    stroke-dashoffset: 745.74853515625;
    stroke-dasharray: 745.74853515625;
    animation: dash 10s ease-out forwards;
  }
  .asme-text-red {
    stroke-dashoffset: 745.74853515625;
    stroke-dasharray: 745.74853515625;
    animation: dash 10s ease-out forwards;
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 745.74853515625;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  &.userLayout {
    overflow: auto;
  }

  .SysMenu {

    &.ant-menu-dark {
      .ant-menu-item-icon {
        color: @dark-deactive-font-color  !important;
      }

      .ant-menu-submenu-selected {
        .ant-menu-item-icon {
          color: @white !important;
        }
      }

      .ant-menu-item-active,
      .ant-menu-item-selected {
        .ant-menu-item-icon {
          color: @white !important;
        }
      }
    }

  }
}
a:hover {
  color: @primary-color
}
.popupSubMenu {
  .ant-menu-item {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    .ant-menu-item-icon {
      width: 14px;
      height: 14px;
    }
  }


}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgba(70,108,149,0.8);
  color: @white;
  font-weight: 500;
}
.ant-menu-inline-collapsed-tooltip {
  .ant-tooltip-inner {
    a {
      color: @white;
    }
  }
}
.ant-table-summary > tr > td {
  border: none !important;
}
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: @primary-color !important;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: @primary-color !important;
}
.ant-picker:hover, .ant-picker-focused {
  border-color: @primary-color !important;
}
.ant-picker-focused {
  box-shadow: 0 0 0 2px rgb(70 108 149 / 20%) !important;
}
.content-width-Fixed {
  &>main {
    width: 1200px;
  }
}
.ant-form-vertical .ant-form-item-label {
  padding: 0;
  label {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }
}
.ant-form-item-label {
  text-align: left !important;
}


.layout.ant-layout {
  height: auto;
  overflow-x: hidden;

  .ant-layout-content {
    margin: 0 !important;
  }

  &.mobile,
  &.tablet {
    .ant-layout-content {
      .content {
        margin: 24px 0 0;
      }
    }

    .ant-table-wrapper {
      .ant-table-content {
        overflow-y: auto;
      }

      .ant-table-body {
        min-width: 800px;
      }
    }

    .topmenu {

      &.content-width-Fluid {
        .header-index-wide {
          margin-left: 0;
        }
      }
    }
  }

  &.mobile {
    .sidemenu {
      .ant-header-fixedHeader {

        &.ant-header-side-opened,
        &.ant-header-side-closed {
          width: 100%;
        }
      }
    }
  }

  &.ant-layout-has-sider {
    flex-direction: row;
  }

  .trigger {
    font-size: 1.125rem;
    line-height: @layout-header-height;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .topmenu {
    .ant-header-fixedHeader {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 9;
      width: 100%;
      transition: width 0.2s;

      &.ant-header-side-opened {
        width: 100%;
      }

      &.ant-header-side-closed {
        width: 100%;
      }
    }

    /* 必须为 topmenu  才能启用流式布局 */
    &.content-width-Fluid {
      .header-index-wide {
        max-width: unset;

        .header-index-left {
          flex: 1 1 1000px;

          .logo {
            margin-left: 25px;
          }

          .ant-menu.ant-menu-horizontal {
            max-width: calc(100vw - 190px - 285px - 25px);
            flex: 1 1 calc(100vw - 190px - 285px - 25px);
          }
        }

        .header-index-right {
          margin-right: 25px;
        }
      }

      .page-header-index-wide {
        max-width: unset;
      }
    }
  }

  .sidemenu {
    .ant-header-fixedHeader {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 9;
      width: 100%;
      transition: width 0.2s;

      &.ant-header-side-opened {
        width: calc(100% - 215px);
      }

      &.ant-header-side-closed {
        width: calc(100% - 80px);
      }
    }
  }
  .ant-layout-header {
    height: @layout-header-height;
    line-height: 1.5;
  }
  .header {
    height: @layout-header-height;
    padding: 0 12px 0 0;
    background: @white;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    position: relative;
    display: flex;
  }

  .header,
  .top-nav-header-index {
    .user-wrapper {
      float: right;
      height: 100%;

      .action {
        overflow: hidden;
        cursor: pointer;
        padding: 0 12px;
        display: inline-block;
        transition: all 0.3s;
        height: 100%;
        color: rgba(0, 0, 0, 0.65);

        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }

        .avatar {
          margin: 20px 8px 20px 0;
          color: @primary-color;
          background: hsla(0, 0%, 100%, 0.85);
          vertical-align: middle;
        }

        .icon {
          font-size: 16px;
          padding: 4px;
        }
      }

      .anticon-question-circle,
      .ant-badge,
      .nickname {
        vertical-align: middle;
      }
    }

    &.dark {
      .user-wrapper {
        .action {
          color: rgba(255, 255, 255, 0.85);

          a {
            color: rgba(255, 255, 255, 0.85);
          }

          .ant-badge {
            color: rgba(255, 255, 255, 0.85);
          }

          &:hover {
            background: rgba(255, 255, 255, 0.16);
          }
        }
      }
    }
  }

  &.mobile,
  &.tablet {
    .top-nav-header-index {
      .header-index-wide {
        .header-index-left {
          .trigger {
            color: rgba(255, 255, 255, 0.85);
            padding: 0 12px;
          }

          .logo.top-nav-header {
            flex: 0 0 56px;
            text-align: center;
            line-height: 58px;

            h1 {
              display: none;
            }
          }
        }
      }

      &.light {
        .header-index-wide {
          .header-index-left {
            .trigger {
              color: rgba(0, 0, 0, 0.65);
            }
          }
        }

        //
      }
    }
  }

  &.tablet {

    // overflow: hidden; text-overflow:ellipsis; @white-space: nowrap;
    .top-nav-header-index {
      .header-index-wide {
        .header-index-left {
          .logo>a {
            overflow: hidden;
            text-overflow: ellipsis;
            @white-space: nowrap;
          }
        }

        .ant-menu.ant-menu-horizontal {
          flex: 1 1 auto;
          @white-space: normal;
        }
      }
    }
  }

  .top-nav-header-index {
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    position: relative;
    transition: background 0.3s, width 0.2s;

    .header-index-wide {
      max-width: 1200px;
      margin: auto;
      padding-left: 0;
      display: flex;
      height: 64px;

      .ant-menu.ant-menu-horizontal {
        max-width: 835px;
        flex: 0 1 835px;
        border: none;
        height: 64px;
        line-height: 64px;
      }

      .header-index-left {
        flex: 0 1 1000px;
        display: flex;

        .logo.top-nav-header {
          flex: 0 0 165px;
          width: 165px;
          height: 64px;
          position: relative;
          line-height: 64px;
          transition: all 0.3s;
          overflow: hidden;

          img,
          svg {
            display: inline-block;
            vertical-align: middle;
            height: 32px;
            width: 32px;
          }

          h1 {
            color: @white;
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
            margin: 0 0 0 12px;
            font-weight: 400;
          }
        }
      }

      .header-index-right {
        flex: 0 0 285px;
        align-self: flex-end;
        height: 64px;
        overflow: hidden;

        .content-box {
          float: right;

          .action {
            max-width: 140px;
            overflow: hidden;
            text-overflow: ellipsis;
            @white-space: nowrap;
          }
        }
      }
    }

    &.light {
      background-color: @white;

      .header-index-wide {
        .header-index-left {
          .logo {
            h1 {
              color: #002140;
            }
          }
        }
      }
    }
  }

  // 内容区
  .layout-content {
    margin: 24px 24px 0;
    height: 64px;
    padding: 0 12px 0 0;
  }

  // footer
  .ant-layout-footer {
    padding: 0;
  }
}

.ant-input-number {
  width: 100%!important;
}


//.ant-drawer.drawer-sider {
//  .sider {
//    box-shadow: none;
//  }
//
//  &.dark {
//    .ant-drawer-content {
//      background-color: rgb(0, 21, 41);
//    }
//  }
//
//  &.light {
//    box-shadow: none;
//
//    .ant-drawer-content {
//      background-color: @white;
//    }
//  }
//
//  .ant-drawer-body {
//    padding: 0;
//  }
//}
//.ant-layout-sider {
//  background: @layout-sider-background;
//  .ant-menu {
//    background: @layout-sider-background;
//    .ant-menu-title-content {
//      font-size: 14px;
//      text-transform: uppercase;
//    }
//  }
//}

.sider {
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  position: relative;
  z-index: @ant-global-sider-zindex;
  min-height: 100vh;
  .ant-layout-sider-children {
    height: 100vh;
    overflow-y: hidden !important;
    &:hover {
      overflow-y: scroll !important;
    }
    &::-webkit-scrollbar{
      display: none;
    }
  }

  &.ant-fixed-sidemenu {
    position: fixed;
    height: 100%;
  }

  .logo {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    //background: #03315d;
    transition: all .3s;

    img,
    svg,
    h1 {
      display: inline-block;
      vertical-align: middle;
    }

    img,
    svg {
      height: 32px;
      width: 32px;
    }

    h1 {
      color: @white;
      font-size: 20px;
      margin: 0 0 0 12px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      font-weight: 600;
      vertical-align: middle;
    }
  }

  &.light {
    background-color: @white;
    box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);

    .logo {
      background: @white;
      box-shadow: 1px 1px 0 0 #e8e8e8;

      h1 {
        color: unset;
      }
    }

    .ant-menu-light {
      border-right-color: transparent;
      background: transparent;
    }
  }
}

.user-dropdown-menu {
  span {
    user-select: none;
  }
}

.user-dropdown-menu-wrapper.ant-dropdown-menu {
  padding: 4px 0;

  .ant-dropdown-menu-item {
    width: 160px;
  }

  .ant-dropdown-menu-item>.anticon:first-child,
  .ant-dropdown-menu-item>.ant-dropdown-menu-title-content>a>.anticon:first-child,
  .ant-dropdown-menu-submenu-title>.anticon:first-child .ant-dropdown-menu-submenu-title>a>.anticon:first-child {
    min-width: 12px;
    margin-right: 8px;
  }
}

.table-alert {
  margin-bottom: 16px;
}
.ant-collapse-item:last-child > .ant-collapse-content, .ant-card-actions {
  border-radius: 0 0 0.5rem 0.5rem;
}
.table-page-search-wrapper {
  .ant-form-inline {
    .ant-form-item {
      display: flex;
      margin-bottom: 24px;
      margin-right: 0;

      .ant-form-item-control-wrapper {
        flex: 1 1;
        display: inline-block;
        vertical-align: middle;
      }

      >.ant-form-item-label {
        line-height: 32px;
        padding-right: 8px;
        width: auto;
      }

      .ant-form-item-control {
        height: 32px;
        line-height: 32px;
      }
    }
  }

  .table-page-search-submitButtons {
    display: block;
    margin-bottom: 24px;
    @white-space: nowrap;
  }
}

.content {
  .table-operator {
    margin-bottom: 18px;

    button {
      margin-right: 8px;
    }
  }
}

.themeColorCustomColor {
  .ant-popover-inner-content {
    padding: 0;
  }
}
//-------------------- End ASME ------------------//

#app, #root, body, html {
  height: 100%;
  font-family: @font-family;
  .ant-table-thead > tr > th {
    font-weight: 700;
    text-align: center!important;
    background-color: @table-header-bg;
    //text-transform: uppercase;
    //color: rgba(3, 49, 93, 0.85)
  }
  .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background-color: @table-header-bg;
  }
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    padding: 8px;
  }
  .ant-table.ant-table-bordered > .ant-table-title {
    border: none;
  }
  .ant-menu.ant-menu-inline-collapsed > .ant-menu-item, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 5px 30px;
    //display: flex;
    //align-items: center;
  }
  .popupSubMenu .ant-menu-item {
    padding: 0 16px;
  }
  .ant-table-tbody > tr.ant-table-row-selected > td {
    background: #ADC6E0;
  }
  .ant-table-tbody > tr.ant-table-row-selected:hover > td {
    background: #2E4661;
    color: rgba(255, 255, 255, 0.85)
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    align-items: center;
    line-height: 1.5
  }

  .full-modal {
    .ant-modal {
      max-width: 100%;
      top: 0;
      padding-bottom: 0;
      margin: 0;
    }

    .ant-modal-content {
      display: flex;
      flex-direction: column;
      height: calc(100vh);
    }

    .ant-modal-body {
      flex: 1;
    }
  }

  .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #192344;
  }

  .ant-row .ant-form-item {
    justify-content: space-between;
  }

  .ant-layout-sider .ant-menu .ant-menu-submenu .ant-menu-item {
    height: 30px;
  }

  .ant-layout-sider .ant-menu .ant-menu-submenu .ant-menu-item > a {
    font-size: 13px;
    line-height: 30px;
    height: 30px;
  }
}

.ant-btn {
  font-weight: 500;
}
//
//.ant-btn-default {
//  border: 1px solid #d7d9e0 !important;
//}

.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
  padding: 4px 8px;
  //font-size: 12px;
  line-height: 18px;
}
.ant-card {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 0.25rem;
}
.ant-card-body-py-0 > .ant-card-body {
    padding-top: 0;
    padding-bottom: 0;
}
.ant-card-body-pt-0 > .ant-card-body {
    padding-top: 0;
}
.ant-card-body-p-0 > .ant-card-body {
    padding: 0;
}
.content-box-p-0 > .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}
.ant-card-head-title {
  padding-top: 4px!important;
  padding-bottom: 4px!important;;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  font-weight: bold;
}

.ant-card-head {
  min-height: auto;
  border-bottom: 2px solid #f0f0f0;
  padding: 0.5rem!important;
}

.ant-card-extra {
  padding: 5px 0 5px 0;
}

.ant-card-body {
  padding: 1rem;
}

.ant-collapse-header{
  font-weight: 600;
  //font-size: 14px;
  padding: 8px 8px 8px 20px;
  line-height: 30px;
}

.ant-table-placeholder {
  min-height: 120px;
}

.ant-table-row {
  height: 16px;
}


@font-size-base: 12.8px;

.ant-pro-setting-drawer-handle {
  width: 40px !important;
  height: 40px !important;
}

.ant-collapse {
  width: 100%;
  min-width: 100%;

  .ant-collapse-item > .ant-collapse-header {
    padding: 4px 8px !important;
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 8px !important;
  }
}

.ant-pro-card-body {
  padding: 16px;
}

.ant-row {
  min-width: 100%;
}

.ant-form-item-label {
  text-align: left !important;

  & > label {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    height: 32px;
    color: rgba(0, 0, 0, 0.85);
    font-size: @font-size-base !important;
  }
}

.ant-pro-menu-item-title {
  font-size: @font-size-base !important;
}

.ant-table {
  &-thead {
    .ant-table-cell {
      text-align: center;
    }
  }
  .ant-table-cell {
    span {
      font-size: @font-size-base !important;
    }
  }
}

.ant-input-affix-wrapper > .ant-input {
  font-size: @font-size-base !important;
  border: none;
  outline: none;
}

.ant-table.ant-table-small {
  font-size: @font-size-base !important;
}


//.ant-select-selection--single,.ant-input {
//  height: 30px!important;
//}
//.ant-select-selection__rendered{
//  line-height: 25px!important;
//}
//.ant-btn, .ant-btn-primary {
//  min-width: 120px;
//}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
  display: flex;
  align-items: center;
}
.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector, .ant-calendar-picker-input, .ant-input.ant-input-disabled, .ant-picker-input > input[disabled] {
  color: rgba(0, 0, 0, 0.85) !important;
}
.ant-calendar-picker-input, .ant-input.ant-input-disabled {
  color: black;
}
.input-text-end input {
  text-align: end;
}
.breadcrumb {
  margin-bottom: 8px;
  .breadcrumb-content {
    display: flex;
    justify-content: space-between;
    a {
      color: rgba(0, 0, 0, 0.65);
    }
    .menu-level-3 {
      min-width: 200px;
      & > div {
        width: 100%;
      }
    }
  }
}
.ant-select-dropdown-menu-item {
  a {
    color: rgba(0, 0, 0, 0.65);
  }
}
.layout.ant-layout .header {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.breadcrumb-selection
{
  .ant-select-selection {
    border-color: #d9d9d9;
    box-shadow: none;
    &:hover {
      border-color: #d9d9d9;
      box-shadow: none;
    }
  }

}

.ant-tree-title {
  text-transform: none;
}
.ant-tree-node-content-wrapper{
  width: 90%;
  text-overflow: ellipsis;
  @white-space: nowrap;
  overflow: hidden;
}
.ant-form-item-with-help .ant-form-item-explain {
  min-height: 0;
}
.ant-drawer-header{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
}
.ant-drawer-body {
  padding: 1rem;
  margin-top: 3.5rem;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
}

.ant-form-item {
  margin-bottom: 1rem
}

.antd-pro-global-header-index-avatar {
  margin-top: 12px;
}

.ant-collapse-header{
  color: black;
}

.ant-breadcrumb-link {
  font-size: 13px;
}
.is-parent .ant-table-cell {
  font-weight: 700;
}
.ant-table-pagination.ant-pagination {
  float: right;
  margin: 8px 0;
}
.ant-collapse-content{
  overflow: inherit;
}

.ant-drawer-body {
  padding: 15px;
}
.ant-select-selection-selected-value, .ant-input{
  color: black;
}
.ant-btn-link:hover, .ant-btn-link:focus {
  border-color: @white !important;
  color: @primary-color !important;
}
.ant-btn-link {
  color: rgba(0, 0, 0, 0.85) !important;
}
.ant-popover-title {
  font-size: 1rem
}

// Custom
.face-button {
  width: 5rem;
  height: 6rem;
  position: absolute;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: 0.25rem;
  &:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
}
.inprogress {
  cursor: no-drop !important;
  color: #d8d8d8 !important;
  &:hover {
    box-shadow: none !important;
  }
}
.dictionary {
  margin-top: 1rem;
  width: 100%;
  height: 70px;
  background-color: @white;
  display: flex;
  border-radius: 0.25rem;
}
.dictionary-item {
  min-width: 170px;
  padding: 0 1rem;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  @white-space: nowrap;
  &:not(:last-child) {
    border-right: 2px solid #f0f0f0 !important;
  }
  &:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
}
.menu-item {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  width: 100%;
  height: 2.5rem;
  &:not(:last-child) {
    border-right: 2px solid #f0f0f0 !important;
  }
  &:hover {
    color: @primary-color;
    font-weight: bold;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
}
.text-black {
  color: rgba(0, 0, 0, 0.85);
  & > a {
    color: rgba(0, 0, 0, 0.85) !important;
    &:hover {
      color: @primary-color !important;
    }
  }
}

// --- Form, input -----//
.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused,.ant-input:focus, .ant-input-focused,.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: none;
}

// breadcrumb
.breadcrumb--title {
  color: rgba(0, 0, 0, 0.85);
}
.ant-breadcrumb a {
  color: rgba(0, 0, 0, 0.85) !important;
}

.asme-text-blue {
  --tw-text-opacity: 1;
  color: @primary-color;
}
.asme-text-red {
  --tw-text-opacity: 1;
  color: #ff7676 !important;
}
.asme-text-green {
  --tw-text-opacity: 1;
  color: #5dae8b;
}
.asme-bg-blue {
  --tw-text-opacity: 1;
  background: linear-gradient(135deg, rgba(70,108,149,0.8) 0%, rgba(70,108,149,1) 10%, rgba(70,108,149,1) 60%, rgba(70,108,149,0.8) 100%);
}
.asme-bg-red {
  --tw-text-opacity: 1;
  background: rgb(255,118,118);
  background: linear-gradient(150deg, rgba(255,118,118,0.8) 0%, rgba(255,118,118,1) 10%, rgba(255,118,118,1) 80%, rgba(255,118,118,0.7) 100%);
}
.asme-bg-green {
  --tw-text-opacity: 1;
  background: rgb(93,174,139);
  background: linear-gradient(135deg, rgba(93,174,139,0.8) 0%, rgba(93,174,139,1) 10%, rgba(93,174,139,1) 60%, rgba(93,174,139,0.7) 100%);
}
.asme-bg-primary {
  --tw-text-opacity: 1;
  background-color: rgb(70, 108, 149);
}
.asme-border-bottom {
  border-bottom: 2px solid #f0f0f0;
}

.menu-icon {
  width: 2.5rem !important;
  height: 2.5rem !important;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  transform: scale(0.75);
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
  &:after{
    content: "";
    width: 100%;
    height: 100%;
    border: solid 2px;
    transform: scale(0.8);
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  &:hover:after {
    transform: scale(1);
  }
  &:hover, &:focus{
    background: rgb(70,108,149);
    background: linear-gradient(135deg, rgba(70,108,149,0.8) 0%, rgba(70,108,149,1) 10%, rgba(70,108,149,1) 60%, rgba(70,108,149,0.8) 100%);
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: all 0.3s ease;
  }
  &:nth-of-type(1):hover {
    transform: rotate(90deg);
  }
  &:nth-of-type(2):hover {
    transform: rotate(180deg);
  }
  &:nth-of-type(3):hover {
    transform: rotate(10deg);
  }
  &:nth-of-type(4):hover {
    transform: rotate(10deg);
  }
}
.ant-anchor-link {
  color: @primary-color;
}
.ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before, .ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
  background-color: @primary-color;
  color: #ffffff;
}
.layout.ant-layout.mobile .ant-table-wrapper .ant-table-body, .layout.ant-layout.tablet .ant-table-wrapper .ant-table-body {
  min-width: 100%;
}
.ant-table .ant-form-item {
  margin-bottom: 0;
}
.ant-select-multiple {
  .ant-select-selector {
    height: 100%
  }

  .ant-select-selector::after {
    background-image: url('@/assets/icons/down-outlined.svg');
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    right: 11px;
    line-height: 24px;
    opacity: 0.27;
  }

  .ant-select-selection-overflow {
    max-height: 56px;
    overflow-y:scroll;
  }
}
.is-record {
  .ant-table-cell:not(svg) {
    font-weight: bold;
    color: #ff7676 !important;
  }
}