<template>
  <div>
    <a-modal
      :keyboard="false"
      :mask-closable="false"
      :centerd="true"
      :title="title"
      :visible="visible"
      :confirm-loading="loading"
      :closable="false"
      :ok-text="okText"
      :cancel-text="cancelText"
      @cancel="handleCancel"
      @ok="handleOk"
    >
      <slot name="content"
        ><p class="text-info">{{ content }}</p></slot
      >
    </a-modal>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref, computed } from 'vue'
export default defineComponent({
  name: 'ConfirmModal',
  props: {
    title: {
      type: String,
      required: false,
      default: () => 'xác nhận'
    },
    content: {
      type: String,
      required: false,
      default: () => 'Bạn có chắc chắn muốn thực hiện hành động này?'
    },
    okText: {
      type: String,
      required: false,
      default: () => 'Đồng ý'
    },
    cancelText: {
      type: String,
      required: false,
      default: () => 'Hủy'
    },
    show: {
      type: Boolean,
      required: true,
      default: () => false
    }
  },
  emits: ['ok', 'cancel'],
  setup(props, context) {
    const visible = computed(() => props.show)
    const loading = ref<boolean>(false)
    const close = () => {
      loading.value = false
    }
    const handleOk = () => {
      loading.value = true
      context.emit('ok', close)
    }
    const handleCancel = () => {
      loading.value = false
      context.emit('cancel')
    }
    return {
      loading,
      visible,
      handleCancel,
      handleOk
    }
  }
})
</script>
