<template>
  <input ref="inputRef" type="text" class="ant-input text-right" />
</template>

<script>
import { watch } from 'vue'
import { useCurrencyInput } from 'vue-currency-input'
// import { watchDebounced } from '@vueuse/core'

export default {
  name: 'DebouncedCurrencyInput',
  props: {
    // eslint-disable-next-line vue/require-default-prop
    modelValue: Number, // Vue 2: value
    // eslint-disable-next-line vue/require-default-prop
    options: Object
  },
  emits: ['update:modelValue'],
  setup(props, { emit }) {
    const { inputRef, numberValue } = useCurrencyInput(props.options, false)

    watch(numberValue, (value) => emit('update:modelValue', value), {
      debounce: 1000
    })

    return { inputRef }
  }
}
</script>
