<template>
  <a-drawer
    :title="title"
    size="large"
    :visible="visible"
    :closable="false"
    :mask-closable="false"
    @close="onClose"
  >
    <template #extra>
      <slot name="formExtra"></slot>
    </template>
    <a-spin :spinning="loading">
      <slot name="form"></slot>
    </a-spin>
    <template #footer>
      <div class="flex justify-end items-center">
        <a-button class="mr-2" :loading="loading" @click="onClose">Hủy</a-button>
        <a-button type="primary" :loading="loading" @click="onSubmit">
          <template #icon><save-outlined /></template>
          Lưu
        </a-button>
      </div>
    </template>
  </a-drawer>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue'
import { SaveOutlined } from '@ant-design/icons-vue'
export default defineComponent({
  name: 'AsmeDrawerForm',
  components: { SaveOutlined },
  props: {
    title: {
      type: String,
      required: true,
      default: 'Form'
    },
    loading: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  emits: ['close', 'submit'],
  setup(props, context) {
    const visible = ref<boolean>(true)
    const onClose = () => {
      context.emit('close')
      visible.value = false
    }

    const onSubmit = () => {
      context.emit('submit')
    }

    return {
      visible,
      onClose,
      onSubmit
    }
  }
})
</script>
