<template>
  <a-input :value="val" v-bind="attrs" @change="onChange" @blur="onBlur" @focus="onFocus" />
</template>
<script lang="ts">
import { defineComponent, ref, computed } from 'vue'
import inputAttrs from '@/components/ASME/DefaultSettings/input'
export default defineComponent({
  props: {
    modelValue: {
      type: Number,
      default: null
    },
    negative: {
      type: Boolean,
      default: true,
      required: false
    },
    maxLength: {
      type: Number,
      default: 0,
      required: false
    }
  },
  emits: ['update:modelValue'],
  setup(props, context) {
    const isBlur = ref(false)
    const val = computed({
      get: () => parseInt(props.modelValue) || props.modelValue,
      set: (v) => parseInt(v)
    })
    const maxLen = ref(props.maxLength)
    const attrs: never = ref({ ...inputAttrs, ...context.attrs })
    const onBlur = () => {
      isBlur.value = true
    }
    const onFocus = () => {
      isBlur.value = false
    }
    const onChange = (event) => {
      let v = event.target.value || 0
      if (v) {
        v = v.replace(/[\.a-zA-Z@\~\!\#\$\%\&\*\(\)_\+\`\.\,]+/g, '')
        if (props.negative) {
          // Chi cho phep duoc nhap 1 dau tru (-)
          v = v.replace(/^-{2,}/g, '-')
        } else {
          v = v.replace(/-/g, '')
        }
      }
      // Không cho phép nhap nhieu ky tu hon max-length
      if (maxLen.value > 0 && v.length > maxLen.value) {
        return
      }
      val.value = v
      if (!isNaN(parseFloat(v)) && !/,$/.test(v)) {
        context.emit('update:modelValue', parseFloat(String(v).replace(',', '.')))
      } else {
        context.emit('update:modelValue', v)
      }
      // context.emit('update:modelValue', parseInt(v) || 0)
    }
    return {
      val,
      attrs,
      onChange,
      onBlur,
      onFocus
    }
  }
})
</script>
