<template>
  <a-input
    :value="val"
    v-bind="attrs"
    :allow-clear="false"
    @input="handleChange"
    @blur="onBlur"
    @focus="onFocus"
  />
</template>
<script lang="ts">
import { defineComponent, ref, computed } from 'vue'
import inputAttrs from '@/components/ASME/DefaultSettings/input'
export default defineComponent({
  props: {
    modelValue: {
      type: [Number, String],
      default: null
    },
    negative: {
      type: Boolean,
      default: true,
      required: false
    },
    digits: {
      type: Number,
      default: 0,
      required: false
    },
    maxLength: {
      type: Number,
      default: 0,
      required: false
    }
  },
  emits: ['update:modelValue'],
  setup(props, context) {
    const formatNumber = (num, digits = 0) => {
      if (num) {
        const regx = new RegExp(`,0{0,${digits - 1}}?$`, 'gm')
        if (!isNaN(parseFloat(num)) && (!digits || !regx.test(num))) {
          return parseFloat(num).toLocaleString('vi-VN', {
            minimumFractionDigits: regx.test(num) ? digits : 0
          })
        }
      }
      return num
    }
    const isBlur = ref(false)
    const val = computed({
      get: () => formatNumber(props.modelValue, props.digits),
      set: (v) => formatNumber(v, props.digits)
    })
    const maxLen = ref(props.maxLength)
    const attrs = ref({ ...inputAttrs, ...context.attrs })
    const { onChange } = attrs.value
    delete attrs.value['onChange']
    const onBlur = () => {
      isBlur.value = true
    }
    const onFocus = () => {
      isBlur.value = false
    }
    const handleChange = (event) => {
      let v = event.target.value || null
      if (v) {
        v = v.replace(
          /[\.a-zA-ZÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶẸẺẼỀỀỂẾưăạảấầẩẫậắằẳẵặẹẻẽềềểếỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ@\~\!\#\$\%\&\*\(\)_\+\^\<\>\'\"\{\}\?\:\[\]\;\=\`]+/g,
          ''
        )
        if (props.digits === 0) {
          v = v.replace(/,/g, '')
        }
        if (props.negative) {
          // Chi cho phep duoc nhap 1 dau tru (-)
          v = v.replace(/^-{2,}/g, '-')
        } else {
          v = v.replace(/-/g, '')
        }

        // Chi duoc nhap 1 dau phay (,)
        v = v.replace(/,{2,}/g, ',')
        // Khong cho phep nhap phan decimal nhieu hon digits
        if (/,/.test(v)) {
          v = v.substring(0, v.indexOf(',') + props.digits + 1)
        }
        // Không cho phép nhap nhieu ky tu hon max-length
        if (maxLen.value > 0 && v.length > maxLen.value) {
          return
        }
      }
      val.value = v
      const regx = new RegExp(`,0{0,${props.digits - 1}}?$`, 'gm')
      if (!isNaN(parseFloat(v)) && !regx.test(v)) {
        context.emit('update:modelValue', parseFloat(String(v).replace(',', '.')))
      } else {
        context.emit('update:modelValue', v)
      }
      if (onChange && typeof onChange === 'function') {
        onChange(v)
      }
    }
    return {
      val,
      attrs,
      handleChange,
      onBlur,
      onFocus
    }
  }
})
</script>
