<template>
  <div class="select-table flex">
    <a-select
      :key="activeKey"
      :value="modelValue"
      mode="multiple"
      class="border-r-0"
      :style="{ width: !isHiddenButton ? 'calc(100% - 25px)' : '100%' }"
      dropdown-class-name="dropdown-table"
      :show-search="true"
      :options="dataSource"
      :filter-option="true"
      v-bind="$attrs"
      @change="handleSelectChange"
    >
      <template #dropdownRender>
        <div @mousedown="(e) => e.preventDefault()">
          <asme-table
            :data-source="dataSource"
            :pagination="false"
            :title="false"
            :class="($attrs && $attrs.table && $attrs.table.class) || 'max-w-4xl'"
            :spinning="loading"
            :row-selection="rowSelection"
            :row-class-name="rowClassName"
            :scroll="{ y: 190 }"
            :custom-row="
              (record) => {
                return {
                  onClick: () => {
                    onClick(record)
                  }
                }
              }
            "
            :columns="columns"
            v-bind="$attrs.table"
          >
            <template v-for="(_, name) in $slots" #[name]="slotData">
              <slot :name="name" v-bind="slotData" />
            </template>
          </asme-table>
        </div>
      </template>
    </a-select>
    <a-button
      v-if="!isHiddenButton"
      class="border-l-0 hover:border visible:border focus:border"
      style="width: 25px; height: auto"
      :disabled="$attrs.disabled"
      @click.stop="onQuickAdd(true)"
    >
      <template #icon>
        <plus-outlined style="color: gray" />
      </template>
    </a-button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { Columns } from '#/table'
import { PlusOutlined } from '@ant-design/icons-vue'
export default defineComponent({
  components: {
    PlusOutlined
  },
  model: {
    prop: 'modelValue',
    event: 'update:modelValue'
  },
  props: {
    // eslint-disable-next-line vue/require-prop-types
    modelValue: {
      type: Array,
      default() {
        return []
      }
    },
    columns: {
      type: Array,
      default(): Array<Columns> {
        return []
      }
    },
    dataSource: {
      type: Array,
      default(): Array<never> {
        return []
      }
    },
    displayField: {
      type: String,
      default(): string {
        return ''
      }
    },
    loading: {
      type: Boolean,
      default(): boolean {
        return false
      }
    },
    isHiddenButton: {
      type: Boolean,
      default(): boolean {
        return false
      }
    },
    rowSelection: {
      type: Object,
      default() {
        return null
      }
    },
    keyLabel: {
      type: String,
      default(): string {
        return 'name'
      }
    }
  },
  emits: ['update:modelValue', 'change', 'onQuickAdd'],
  setup(props, context) {
    const activeKey = ref(1)
    const displayField = ref<string>(props.displayField)

    const handleSelectChange = (value) => {
      context.emit('update:modelValue', [...value])
    }
    const onClick = (record: never): void => {
      if (record && displayField.value) {
        let newModelValue = props.modelValue.map((item) => {
          return item
        })
        const index = newModelValue.indexOf(record[displayField.value])
        if (index < 0) {
          newModelValue.push(record[displayField.value])
        } else {
          newModelValue.splice(index, 1)
        }
        context.emit('update:modelValue', newModelValue)
        context.emit('change', newModelValue)
        activeKey.value++
      }
    }
    const onMousedown = (e) => {
      e.preventDefault()
      return true
    }
    const onQuickAdd = (): void => {
      context.emit('onQuickAdd', true)
    }
    const rowClassName = (record: never): string => {
      let fieldName
      let className = ''
      if (context.attrs && context.attrs['field-names']) {
        fieldName = context.attrs['field-names'].value
        if (
          props.modelValue.includes(record[fieldName]) ||
          props.modelValue.includes(String(record[fieldName]))
        ) {
          className = 'record-selected'
        }
      }
      return className
    }

    return {
      activeKey,
      open,
      onMousedown,
      onClick,
      rowClassName,
      onQuickAdd,
      handleSelectChange
    }
  }
})
</script>
<style lang="less">
.dropdown-table {
  .asme-table {
    min-width: 100%;
  }
  width: auto;

  .ant-table-tbody > tr.ant-table-row:hover > td,
  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background: #899dad;
    color: white;
  }
}
.record-selected {
  background: #6584a1 !important;
  color: white !important;
}
</style>
