<template>
  <a-select :options="options" :value="value" :loading="loading" v-bind="attrs" @search="onInput">
    <template v-for="(_, name) in $slots" #[name]="slotData">
      <slot :name="name" v-bind="slotData" />
    </template>
    <slot name="option"></slot>
  </a-select>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, Ref, UnwrapRef } from 'vue'
import merge from 'ts-deepmerge'
import attrsSelect from '@/components/ASME/DefaultSettings/select'
import _ from 'lodash'

export default defineComponent({
  model: {
    prop: 'value',
    event: 'change.value'
  },
  props: {
    // eslint-disable-next-line vue/require-prop-types
    value: {
      default() {
        return ''
      }
    },
    type: {
      type: String,
      default() {
        return ''
      }
    },
    params: {
      type: Object,
      default() {
        return {}
      }
    },
    request: {
      type: Function,
      default: () => {
        return []
      }
    },
    timeout: {
      type: Number,
      default: () => {
        return 300
      }
    }
  },
  setup(props, context) {
    const attrs: Ref<UnwrapRef<any>> = ref(merge(attrsSelect, context.attrs))
    const loading = ref(false)
    const options = ref<any[]>([])
    if (context && context.attrs && context.attrs['field-names']) {
      console.log(context.attrs['field-names'], "context.attrs['field-names']")
    }
    const onSearch = async (v: any) => {
      try {
        loading.value = true
        if (props && props.request && typeof props.request === 'function') {
          const body = await props.request({ keywords: v || null })
          if (body && body.data) {
            options.value = body.data
          }
        }
      } finally {
        loading.value = false
      }
    }
    const onInput = _.debounce((v) => {
      onSearch(v)
    }, props.timeout)
    onMounted(async () => {
      if (props && props.request && typeof props.request === 'function') {
        const body = await props.request()
        if (body && body.data) {
          options.value = body.data
        }
      }
    })
    return {
      attrs,
      options,
      loading,
      onSearch,
      onInput
    }
  }
})
</script>
