<template>
  <div class="select-table flex">
    <a-select
      :key="activeKey"
      :value="modelValue"
      v-bind="$attrs"
      class="border-r-0 pr-1"
      :style="!isHiddenButton ? 'width: calc(100% - 2rem)' : ''"
      dropdown-class-name="dropdown-table"
      :show-search="true"
      :options="dataSource"
      :allow-clear="true"
      :filter-option="true"
      :placement="placement"
      @deselect="onDeselect"
      @click="onClickAsmeTable"
    >
      <template #clearIcon>
        <close-circle-filled @click="onClearSelect" />
      </template>
      <template #dropdownRender>
        <div @mousedown="(e) => e.preventDefault()">
          <div :class="classAsmeSelectTable">
            <asme-table
              :data-source="dataSource"
              :pagination="false"
              :title="false"
              :class="$attrs?.table?.class || 'max-w-4xl overflow-auto'"
              :spinning="loading"
              :row-selection="rowSelection"
              :row-class-name="rowClassName"
              :scroll="{ y: 200 }"
              :custom-row="
                (record) => {
                  return {
                    onClick: () => {
                      onClick(record)
                    }
                  }
                }
              "
              :columns="columns"
              v-bind="$attrs.table"
            >
              <template v-for="(_, name) in $slots" #[name]="slotData">
                <slot :name="name" v-bind="slotData" />
              </template>
            </asme-table>
          </div>
        </div>
      </template>
    </a-select>
    <a-button
      v-if="!isHiddenButton"
      class="border-l-0 hover:border visible:border focus:border"
      :disabled="$attrs.disabled"
      :type="'primary'"
      @click.stop="onQuickAdd()"
    >
      <template #icon>
        <edit-outlined v-if="modelValue" />
        <plus-outlined v-else />
      </template>
    </a-button>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue'
import { Columns } from '#/table'
import { CloseCircleFilled, PlusOutlined, EditOutlined } from '@ant-design/icons-vue'

export default defineComponent({
  components: {
    PlusOutlined,
    CloseCircleFilled,
    EditOutlined
  },
  model: {
    prop: 'modelValue',
    event: 'update:modelValue'
  },
  props: {
    // eslint-disable-next-line vue/require-prop-types
    modelValue: {
      default() {
        return null
      }
    },
    columns: {
      type: Array,
      default(): Array<Columns> {
        return []
      }
    },
    dataSource: {
      type: Array,
      default(): Array<never> {
        return []
      }
    },
    displayField: {
      type: String,
      default(): string {
        return ''
      }
    },
    classAsmeSelectTable: {
      type: String,
      default(): string {
        return 'asme-select-table'
      }
    },
    loading: {
      type: Boolean,
      default(): boolean {
        return false
      }
    },
    isHiddenButton: {
      type: Boolean,
      default(): boolean {
        return false
      }
    },
    rowSelection: {
      type: Object,
      default() {
        return null
      }
    },
    placement: {
      type: String,
      default(): string {
        return 'bottomLeft'
      }
    },
    pagination: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  emits: [
    'update:modelValue',
    'change',
    'onQuickAdd',
    'onClearSelect',
    'update:pagination',
    'pagination'
  ],
  setup(props, context) {
    const { attrs } = context
    const selectedValues = computed(() => props.modelValue || [])
    const activeKey = ref(1)
    const current = ref(0)
    const paginationTerm = ref(props.pagination)
    const displayField = ref<any>(props.displayField)
    const onClick = (record: any): void => {
      if (record && displayField.value && record.hasOwnProperty(displayField.value)) {
        if (attrs.mode == 'multiple') {
          const vals = [...selectedValues.value]
          if (vals.indexOf(record[displayField.value]) == -1) {
            vals.push(record[displayField.value])
            context.emit('update:modelValue', vals)
            context.emit('change', vals, record, 'add')
          }
        } else {
          context.emit('update:modelValue', record[displayField.value])
          context.emit('change', record[displayField.value], record, 'add')
        }

        activeKey.value++
      }
    }
    const onMousedown = (e) => {
      e.preventDefault()
      return true
    }
    const onQuickAdd = (): void => {
      context.emit('onQuickAdd', true)
    }
    const onClearSelect = (): void => {
      context.emit('update:modelValue', null)
    }
    const onDeselect = (val, option) => {
      if (typeof selectedValues.value == 'object') {
        const vals = selectedValues.value.filter((v) => v != val)
        context.emit('update:modelValue', vals)
        context.emit('change', vals, option, 'remove')
      } else {
        context.emit('update:modelValue', null)
        context.emit('change', null, option, 'remove')
      }
    }
    // phim dieu huong
    // const inputKeyDown = (e) => {
    //   let i = 0
    //   if (displayField.value) {
    //     dataSource.value?.forEach((dt: any, iDt) => {
    //       if (modelValue.value == dt[displayField.value]) {
    //         if (e.key === 'ArrowDown') {
    //           i = iDt + 1
    //         } else if (e.key === 'ArrowUp') {
    //           i = iDt - 1
    //         }
    //         return
    //       }
    //     })
    //     if (dataSource.value && Array.isArray(dataSource.value) && i <= dataSource.value.length) {
    //       context.emit('update:modelValue', dataSource.value[i][displayField.value])
    //       context.emit('change', dataSource.value[i][displayField.value])
    //       activeKey.value++
    //     }
    //   }
    // }
    const onClickAsmeTable = () => {
      if (!current.value) {
        const el = document.getElementsByClassName(<string>props.classAsmeSelectTable)
        const table = el[0].getElementsByClassName('ant-table-body')
        const handleScroll = () => {
          if (table[0].scrollHeight - (table[0].scrollTop + table[0].clientHeight) <= 10) {
            current.value++
            // context.emit('change', '')
            context.emit('pagination', current.value)
            context.emit('update:pagination', paginationTerm.value)
          }
        }
        table[0].addEventListener('scroll', handleScroll)
      }
    }
    const rowClassName = (record: never): string => {
      let fieldName
      let className = ''
      if (context.attrs && context.attrs['field-names']) {
        fieldName = context.attrs['field-names'].value
        if (record[fieldName] === props.modelValue) {
          className = 'record-selected'
        }
      }
      return className
    }
    return {
      activeKey,
      selectedValues,
      open,
      onMousedown,
      onClick,
      rowClassName,
      onQuickAdd,
      onDeselect,
      onClearSelect,
      onClickAsmeTable
    }
  }
})
</script>
<style lang="less">
.dropdown-table {
  .asme-table {
    min-width: 100%;
  }
  //width: max-content !important;
  .ant-table-tbody > tr.ant-table-row:hover > td,
  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background: #899dad;
    color: white;
  }
}
.select-table {
  width: 100%;
}
.record-selected {
  background: #6584a1 !important;
  color: white !important;
}
</style>
