<template>
  <a-config-provider :locale="lang[proxy.$i18n.locale]" component-size="smail">
    <router-view v-slot="{ Component, route }" component-size="small">
      <transition :name="route.meta.transition || 'fade'">
        <component :is="Component" />
      </transition>
    </router-view>
  </a-config-provider>
</template>

<script lang="ts">
import { getCurrentInstance, defineComponent } from 'vue'
import vi_VN from 'ant-design-vue/es/locale/vi_VN'
import en_US from 'ant-design-vue/lib/locale-provider/en_US'
import { setDeviceType } from '@/utils/device'

export default defineComponent({
  setup() {
    const { proxy } = getCurrentInstance()

    const lang = {
      'en-US': en_US,
      'vi-VN': vi_VN
    }

    window.onresize = setDeviceType
    setDeviceType()

    return {
      proxy,
      lang
    }
  }
})
</script>

<style scoped>
#components-back-top-demo-custom .ant-back-top {
  bottom: 100px;
}
#components-back-top-demo-custom .ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.grow-out-enter-from {
  opacity: 0;
  transform: scale(1);
}
.grow-out-leave-to {
  opacity: 0;
  transform: scale(2);
}
.grow-out-enter-active,
.grow-out-leave-active {
  transition: 0.3s ease-out;
}
</style>
