<template>
  <div :style="!route.meta.hiddenHeaderContent ? 'margin: -24px -24px 0px;' : null">
    <!-- pageHeader , route meta :true on hide -->
    <page-header v-if="true" :title="pageTitle" :logo="logo" :avatar="avatar">
      <slot name="action"></slot>
      <slot name="headerContent"></slot>
      <div v-if="!$slots.headerContent && description" name="content">
        <p style="font-size: 14px; color: rgba(0, 0, 0, 0.65)">{{ description }}</p>
        <div class="link">
          <template v-for="(link, index) in linkList" :key="index">
            <a
              @click="
                () => {
                  link.callback && link.callback()
                }
              "
            >
              <span>{{ link.title }}</span>
            </a>
          </template>
        </div>
      </div>
      <slot name="extra">
        <div class="extra-img">
          <img v-if="typeof state.extraImage !== 'undefined'" :src="state.extraImage" />
        </div>
      </slot>
      <div name="pageMenu">
        <div v-if="state.search" class="page-menu-search">
          <a-input-search
            style="width: 80%; max-width: 522px"
            placeholder="vui lòng nhập..."
            size="large"
            enter-button="Tìm kiếm"
          />
        </div>
        <div v-if="tabs && tabs.items" class="page-menu-tabs">
          <a-tabs
            :tab-bar-style="{ margin: 0 }"
            :active-key="tabs.active()"
            @change="tabs.callback"
          >
            <a-tab-pane v-for="item in tabs.items" :key="item.key" :tab="item.title"></a-tab-pane>
          </a-tabs>
        </div>
      </div>
    </page-header>
    <div class="content">
      <div class="page-header-index-wide">
        <slot>
          <!-- keep-alive  -->
          <keep-alive v-if="multiTab">
            <router-view ref="contentRef" />
          </keep-alive>
          <router-view v-else ref="contentRef" />
        </slot>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, onMounted, onUpdated, toRefs, ref } from 'vue'
import PageHeader from '@/components/PageHeader/index.vue'
import { multiTab } from '@/store/useSiteSettings'
import { useRouter } from 'vue-router'
export default defineComponent({
  name: 'PageView',
  components: {
    PageHeader
  },
  props: {
    avatar: {
      type: String,
      default: null
    },
    title: {
      type: [String, Boolean],
      default: true
    },
    logo: {
      type: String,
      default: null
    },
    directTabs: {
      type: Object,
      default: null
    }
  },
  setup(props) {
    const router = useRouter()
    const state = reactive<any>({
      pageTitle: null,
      description: null,
      linkList: [],
      extraImage: '',
      search: false,
      tabs: {}
    })
    const contentRef = ref()
    const getPageMeta = () => {
      state.pageTitle =
        typeof props.title === 'string' || !props.title
          ? props.title
          : router.currentRoute.value.meta.title

      const content = contentRef.value
      if (content) {
        if (content.pageMeta) {
          Object.assign(this, content.pageMeta)
        } else {
          state.description = content.description
          state.linkList = content.linkList
          state.extraImage = content.extraImage
          state.search = content.search === true
          state.tabs = content.tabs
        }
      }
    }

    onMounted(() => {
      state.tabs = props.directTabs
      getPageMeta()
    })

    onUpdated(() => {
      getPageMeta()
    })

    return {
      ...toRefs(state),
      multiTab,
      route: router.currentRoute,
      contentRef
    }
  }
})
</script>

<style lang="less" scoped>
.content {
  margin: 24px 24px 0;
  .link {
    margin-top: 16px;
    &:not(:empty) {
      margin-bottom: 16px;
    }
    a {
      margin-right: 32px;
      height: 24px;
      line-height: 24px;
      display: inline-block;
      i {
        font-size: 24px;
        margin-right: 8px;
        vertical-align: middle;
      }
      span {
        height: 24px;
        line-height: 24px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
.page-menu-search {
  text-align: center;
  margin-bottom: 16px;
}
.page-menu-tabs {
  margin-top: 48px;
}

.extra-img {
  margin-top: -60px;
  text-align: center;
  width: 195px;

  img {
    width: 100%;
  }
}

.mobile {
  .extra-img {
    margin-top: 0;
    text-align: center;
    width: 96px;

    img {
      width: 100%;
    }
  }
}
</style>
