<template>
  <asme-tabs :key="key" />
  <router-view v-if="isKeep" v-slot="{ Component }">
    <keep-alive>
      <component :is="Component" />
    </keep-alive>
  </router-view>
  <router-view v-else />
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'RouteView',
  props: {
    keepAlive: {
      type: Boolean,
      default: false
    }
  },
  setup() {
    const key = ref(1)
    const isKeep = ref(false)

    return {
      isKeep,
      key
    }
  }
})
</script>
